{"openapi":"3.1.0","info":{"title":"Cloud World Model — Agent API","version":"1.0.0","description":"Agent-facing API surface for Cloud World Model. Includes free lifecycle operations (create/inspect simulations, list scenarios, poll job status) and 40 x402-priced endpoints spanning simulation execution, RL training, chaos engineering, multi-cloud analysis, AI explanations, and infrastructure validation. 24 of those endpoints are directly indexable by x402 crawlers (cold-probeable without a prior resource ID); the remaining 16 are resource-scoped status and results endpoints that require an existing job or simulation ID. Anonymous callers can pay per request with USDC on Base (x402 protocol) — no account or API key required.","contact":{"name":"Cloud World Model API Support","url":"https://www.cloudworldmodel.ai","email":"api@cloudworldmodel.ai"}},"servers":[{"url":"https://www.cloudworldmodel.ai/api","description":"Production"},{"url":"http://localhost:5000/api","description":"Local development"}],"paths":{"/wallet-auth/challenge":{"x-stability":"stable","post":{"tags":["Wallet Auth"],"summary":"Request an EIP-191 sign-in challenge","description":"Issues a one-time nonce for the given EVM wallet address. The caller must\nsign the returned `message` string with `personal_sign` (EIP-191) and\nsubmit the hex signature to `POST /wallet-auth/verify` within 5 minutes.\n\nRate-limited to 10 requests per IP per minute to prevent nonce-farming.\nNo authentication required.\n","operationId":"walletAuthChallenge","security":[],"requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","required":["walletAddress"],"properties":{"walletAddress":{"type":"string","pattern":"^0x[0-9a-fA-F]{40}$","description":"The EVM wallet address requesting a sign-in challenge","example":"0xd8dA6BF26964aF9D7eEd9e03E53415D37aA96045"}}}}}},"responses":{"200":{"description":"Challenge nonce issued","content":{"application/json":{"schema":{"type":"object","required":["nonce","message","expiresAt"],"properties":{"nonce":{"type":"string","description":"The random hex nonce (32 hex chars)","example":"a1b2c3d4e5f6a7b8c9d0e1f2a3b4c5d6"},"message":{"type":"string","description":"The full message string to sign with personal_sign","example":"Sign in to Cloud World Model\nNonce: a1b2c3d4e5f6a7b8c9d0e1f2a3b4c5d6\nExpires: 2026-01-01T00:05:00.000Z"},"expiresAt":{"type":"string","format":"date-time","description":"ISO-8601 timestamp when the nonce expires (5 minutes)"}}}}}},"400":{"$ref":"#/components/responses/BadRequest"},"429":{"description":"Rate limit exceeded — 10 challenges per IP per minute","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}},"500":{"$ref":"#/components/responses/InternalError"}}}},"/wallet-auth/verify":{"x-stability":"stable","post":{"tags":["Wallet Auth"],"summary":"Verify an EIP-191 signature and receive a session token","description":"Verifies the EIP-191 personal_sign signature for the challenge previously\nissued by `POST /wallet-auth/challenge`. On success, returns a 24-hour\nJWT session token.\n\nUse the token as `Authorization: Bearer <token>` on `GET /simulations`\nand `GET /simulations/{simulationId}` to list and retrieve simulations\nclaimed by this wallet address without a traditional API key.\n\nThe nonce is single-use and consumed on successful verification.\nNo authentication required.\n","operationId":"walletAuthVerify","security":[],"requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","required":["walletAddress","signature"],"properties":{"walletAddress":{"type":"string","pattern":"^0x[0-9a-fA-F]{40}$","description":"The EVM wallet address that signed the challenge","example":"0xd8dA6BF26964aF9D7eEd9e03E53415D37aA96045"},"signature":{"type":"string","description":"Hex-encoded EIP-191 signature from personal_sign (0x-prefixed, 65 bytes)","example":"0x1234...ef01b"}}}}}},"responses":{"200":{"description":"Signature verified — session token issued","content":{"application/json":{"schema":{"type":"object","required":["token","walletAddress","expiresIn"],"properties":{"token":{"type":"string","description":"JWT session token (HS256, 24-hour TTL)"},"walletAddress":{"type":"string","description":"The lowercase verified wallet address","example":"0xd8da6bf26964af9d7eed9e03e53415d37aa96045"},"expiresIn":{"type":"integer","description":"Token lifetime in seconds (86400 = 24 hours)","example":86400}}}}}},"400":{"$ref":"#/components/responses/BadRequest"},"401":{"description":"Invalid or expired signature","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}},"500":{"$ref":"#/components/responses/InternalError"}}}},"/wallet-auth/x402-session":{"x-stability":"stable","post":{"tags":["Wallet Auth"],"summary":"Issue a wallet session JWT via x402 micro-payment","description":"Issues a 24-hour wallet session JWT in exchange for a small USDC\nmicro-payment on Base (x402 protocol).  Designed for managed/MPC\nwallets that cannot sign EIP-191 challenges directly.\n\n**Flow:**\n1. Call this endpoint with no `X-PAYMENT` header — the server returns\n   `402 Payment Required` with the USDC amount and payment details.\n2. Submit the x402 payment and resend the request with the\n   `X-PAYMENT` header populated.\n3. On success the response body includes both a `settlement` block\n   (confirmed transaction hash) and a `walletSession` block\n   containing the JWT token and its expiry.\n\nThe issuance is idempotent per transaction hash — replaying the same\ntransaction hash returns the same session: the returned token carries\nthe same `jti` (session nonce) as the original issuance. No new\nsession record is created. The token's `iat`/`exp` timestamps differ\nbetween calls (each JWT is freshly signed), but the session identity\nbound by `jti` is stable across all replays of the same hash.\n\n**Token lifetime and persistence:** Tokens are valid for 24 hours and\nreusable across requests until they expire. Token validity **survives\nserver restarts only when the `WALLET_AUTH_JWT_SECRET` environment\nvariable is set to a stable, persistent value**. Without it, an\nephemeral per-process secret is used and all sessions are invalidated\non every redeploy. The server logs a startup warning when this variable\nis absent.\n\n**Authentication:** x402 micro-payment only (no API key required).\n","operationId":"walletAuthX402Session","security":[{"x402":[]}],"requestBody":{"required":false,"content":{"application/json":{"schema":{"type":"object","properties":{},"additionalProperties":false}}}},"responses":{"200":{"description":"Session JWT issued alongside x402 settlement","content":{"application/json":{"schema":{"type":"object","properties":{"settlement":{"type":"object","description":"x402 on-chain settlement details","properties":{"status":{"type":"string","example":"confirmed"},"transactionHash":{"type":"string","example":"0xabc123..."}}},"walletSession":{"type":"object","description":"Issued wallet session JWT (24-hour TTL). Tokens are reusable\nacross requests until expiry. Token validity survives server\nrestarts only when the `WALLET_AUTH_JWT_SECRET` environment\nvariable is set to a stable, persistent value — without it\nsessions are invalidated on every redeploy.\n","properties":{"token":{"type":"string","description":"JWT session token (HS256, 24-hour TTL, reusable until expiry)"},"expiresAt":{"type":"string","format":"date-time","description":"ISO-8601 expiry timestamp"}}}}}}}},"400":{"$ref":"#/components/responses/BadRequest"},"402":{"$ref":"#/components/responses/X402PaymentRequired"},"500":{"$ref":"#/components/responses/InternalError"}}}},"/scenarios":{"x-stability":"stable","get":{"tags":["Discover"],"summary":"List available simulation templates","description":"Returns the list of pre-built infrastructure scenario templates. Scenarios\ndefine a complete simulation configuration (resources, traffic, connections)\nthat can be loaded directly into a new simulation via the browser UI or the\nAPI.\n\n**No authentication required.**\n","operationId":"listScenarios","security":[],"responses":{"200":{"description":"Array of scenario templates","content":{"application/json":{"schema":{"type":"array","items":{"type":"object","properties":{"id":{"type":"string","description":"Unique scenario identifier","example":"aws-web-app"},"name":{"type":"string","example":"AWS Multi-Tier Web Application"},"description":{"type":"string"},"category":{"type":"string","description":"Scenario category (e.g. web, data, ml)","example":"web"},"provider":{"type":"string","enum":["aws","gcp","azure","oci","digitalocean","multi"],"example":"aws"},"resources":{"type":"array","items":{"$ref":"#/components/schemas/Resource"}}}}}}}},"500":{"$ref":"#/components/responses/InternalError"}}}},"/billing/x402/config":{"x-stability":"stable","get":{"tags":["Discover"],"summary":"Discover x402 pricing and payment config","description":"Returns the x402 payment configuration for this server, including the USDC-on-Base\nwallet address, network, asset contract, facilitator URL, and per-call-type price table.\n\nAI agents can use this endpoint to discover whether x402 anonymous pay-per-request is\nenabled, and to obtain the exact USDC amounts required before sending a `PAYMENT-SIGNATURE`\nheader on a metered endpoint.\n\nThis endpoint requires no authentication and is always public.\n","operationId":"getX402Config","security":[],"responses":{"200":{"description":"x402 payment configuration","content":{"application/json":{"schema":{"type":"object","required":["enabled","network","asset","payTo","facilitatorUrl","creditsPerUsdc","callPrices"],"properties":{"enabled":{"type":"boolean","description":"Whether x402 pay-per-request is active on this server.","example":true},"network":{"type":"string","description":"Blockchain network where payments are accepted.","example":"base"},"asset":{"type":"string","description":"USDC contract address on the configured network.","example":"0x833589fCD6eDb6E08f4c7C32D4f71b54bdA02913"},"payTo":{"type":"string","nullable":true,"description":"EVM wallet address that receives payments (null when disabled).","example":"0xYourWalletAddress"},"facilitatorUrl":{"type":"string","description":"Base URL of the x402 facilitator used to verify payments.","example":"https://facilitator.payai.network"},"creditsPerUsdc":{"type":"integer","description":"How many platform credits equal 1 USDC (determines price per credit).","example":1000},"callPrices":{"type":"object","description":"Per-call-type price table.","additionalProperties":{"type":"object","required":["credits","usdcAtomicUnits","usdcDisplay"],"properties":{"credits":{"type":"integer","description":"Number of platform credits consumed per call."},"usdcAtomicUnits":{"type":"string","description":"Payment amount in USDC atomic units (6-decimal integer string)."},"usdcDisplay":{"type":"string","description":"Human-readable USDC cost string, e.g. \"$0.0050\"."}}},"example":{"chaos_run":{"credits":5,"usdcAtomicUnits":"5000","usdcDisplay":"$0.0050"},"rl_step":{"credits":1,"usdcAtomicUnits":"1000","usdcDisplay":"$0.0010"}}},"simulationRetentionDays":{"type":"integer","description":"Number of days an x402-wallet-owned simulation is retained after its\nlast activity (step, update). Every `/step-hybrid` call on a simulation\nresets this rolling window. After the window expires, the simulation and\nall its metrics are permanently deleted by the server's cleanup sweep.\n","example":90},"autoClaimOnFirstStep":{"type":"boolean","description":"When `true`, an unclaimed (demo) simulation is automatically assigned to\nthe paying wallet's ownership on its first x402-authenticated\n`/step-hybrid` call. No explicit claim endpoint is required.\n","example":true}}}}}},"500":{"$ref":"#/components/responses/InternalError"}}}},"/simulations":{"x-stability":"stable","post":{"tags":["Create"],"summary":"Create a cloud simulation","description":"Creates a simulation with cloud resources (compute, network, database, storage).\nThe simulation serves as the environment for RL training.\n\n**Ownership:** If an `Authorization: Bearer <key>` header is provided, the\nnew simulation is immediately assigned to that API key and is fully write-accessible\nwithout any additional steps. Without authentication the simulation is created\nas a \"demo\" simulation (`apiKeyId: null`), subject to a 20-step limit; use\n`POST /simulations/{simulationId}/claim` to adopt it once you have a key.\n","operationId":"createSimulation","security":[],"requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","required":["name","resources"],"properties":{"name":{"type":"string","description":"Human-readable name for the simulation","example":"Production Web App Autoscaling"},"description":{"type":"string","description":"Optional description of the simulation","example":"Multi-tier web application with load balancer and database"},"resources":{"type":"array","description":"Cloud resources in the simulation","items":{"$ref":"#/components/schemas/Resource"}},"connections":{"type":"array","description":"Network connections between resources","default":[],"items":{"$ref":"#/components/schemas/Connection"}},"traffic":{"type":"number","description":"Initial traffic load (requests per second)","default":1000,"example":5000}}},"examples":{"awsWebApp":{"summary":"AWS multi-tier web application","value":{"name":"AWS Production Web App","description":"Multi-tier web application on AWS with load balancer and RDS","traffic":5000,"resources":[{"id":"r1","name":"ALB","type":"network","provider":"aws","serviceFamily":"elb","region":"us-east-1","config":{"tier":"standard","targetCapacity":10000}},{"id":"r2","name":"App Server","type":"compute","provider":"aws","serviceFamily":"ec2","region":"us-east-1","config":{"instanceType":"t3.large","instances":4,"autoScaling":true,"minInstances":2,"maxInstances":12}},{"id":"r3","name":"Primary DB","type":"database","provider":"aws","serviceFamily":"rds","region":"us-east-1","config":{"instanceType":"db.r5.large","multiAZ":true}},{"id":"r4","name":"Static Assets","type":"storage","provider":"aws","serviceFamily":"s3","region":"us-east-1","config":{"storageGB":500}}]}},"digitalOceanWebApp":{"summary":"DigitalOcean web application (Droplets + Managed PostgreSQL)","value":{"name":"DO Production Web App","description":"Multi-tier web application on DigitalOcean with Droplets, Managed PostgreSQL, Spaces, and Load Balancer","traffic":3000,"resources":[{"id":"r1","name":"DO Load Balancer","type":"network","provider":"digitalocean","serviceFamily":"load_balancer","region":"nyc3","config":{"tier":"standard","targetCapacity":5000}},{"id":"r2","name":"App Droplets","type":"compute","provider":"digitalocean","serviceFamily":"droplets","region":"nyc3","config":{"instanceType":"s-4vcpu-8gb","instances":3,"autoScaling":true,"minInstances":2,"maxInstances":8}},{"id":"r3","name":"Managed PostgreSQL","type":"database","provider":"digitalocean","serviceFamily":"managed_postgresql","region":"nyc3","config":{"instanceType":"db-s-2vcpu-4gb","multiAZ":true}},{"id":"r4","name":"Spaces Object Storage","type":"storage","provider":"digitalocean","serviceFamily":"spaces","region":"nyc3","config":{"storageGB":500}}]}},"digitalOceanTrafficSpike":{"summary":"DigitalOcean traffic spike — triggers DOKS HPA Droplet scale-out","value":{"name":"DO Traffic Spike Autoscaling","description":"Demonstrates DigitalOcean DOKS Horizontal Pod Autoscaler (HPA) scaling\nDroplets during a sudden traffic surge. Starting traffic (80 000 RPS) is\ndeliberately above the capacity of a single s-2vcpu-4gb Droplet to\nguarantee that CPU breaches the 75 % HPA threshold and triggers automatic\nDroplet provisioning within one simulation step (150 s cooldown window).\nRun the simulation and observe DOKS HPA scale-out events in the event log.\n","traffic":80000,"resources":[{"id":"r1","name":"DO Load Balancer","type":"network","provider":"digitalocean","serviceFamily":"load_balancer","region":"nyc3","config":{"tier":"standard","targetCapacity":100000}},{"id":"r2","name":"droplet-01","type":"compute","provider":"digitalocean","serviceFamily":"droplets","region":"nyc3","config":{"instanceType":"s-2vcpu-4gb","instances":1,"autoScaling":true,"minInstances":1,"maxInstances":10}},{"id":"r3","name":"Managed PostgreSQL","type":"database","provider":"digitalocean","serviceFamily":"managed_postgresql","region":"nyc3","config":{"instanceType":"db-s-1vcpu-1gb","multiAZ":false}}]}}}}}},"responses":{"201":{"description":"Simulation created successfully","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Simulation"}}}},"400":{"$ref":"#/components/responses/BadRequest"},"500":{"$ref":"#/components/responses/InternalError"}}},"get":{"tags":["Simulations"],"summary":"List simulations for the authenticated caller","description":"Returns simulations owned by the authenticated caller.\n\n**API key callers:** Returns all simulations assigned to the API key.\nAdmin-scoped keys receive all simulations across all keys.\n\n**Wallet session callers:** Returns simulations claimed by the wallet\naddress (where `ownerWallet` matches), paginated via `limit` and `offset`\nquery parameters and sorted by `updatedAt` descending. The response shape\ndiffers — it is an object `{ simulations, total, limit, offset }` rather\nthan a plain array.\n\nRequires `read` scope or a valid wallet session JWT.\n","operationId":"listSimulations","security":[],"parameters":[{"name":"limit","in":"query","required":false,"schema":{"type":"integer","minimum":1,"maximum":200,"default":50},"description":"Maximum number of simulations to return (wallet session only)"},{"name":"offset","in":"query","required":false,"schema":{"type":"integer","minimum":0,"default":0},"description":"Number of simulations to skip (wallet session only)"}],"responses":{"200":{"description":"Simulations list","content":{"application/json":{"schema":{"oneOf":[{"type":"array","description":"Array of simulations (API key callers)","items":{"$ref":"#/components/schemas/Simulation"}},{"type":"object","description":"Paginated response (wallet session callers)","required":["simulations","total","limit","offset"],"properties":{"simulations":{"type":"array","items":{"$ref":"#/components/schemas/Simulation"}},"total":{"type":"integer","description":"Total simulations matching the wallet address"},"limit":{"type":"integer"},"offset":{"type":"integer"}}}]}}}},"401":{"$ref":"#/components/responses/WalletAuthUnauthorized"},"500":{"$ref":"#/components/responses/InternalError"}}}},"/simulations/{simulationId}":{"x-stability":"stable","parameters":[{"name":"simulationId","in":"path","required":true,"schema":{"type":"string"},"description":"Simulation UUID","example":"550e8400-e29b-41d4-a716-446655440000"}],"get":{"tags":["Create"],"summary":"Inspect a simulation by ID","description":"Returns the full state of a simulation including its resources,\ncurrent time step, traffic load, and autoscaling history.\nRequires `read` scope and ownership.\n","operationId":"getSimulation","security":[],"responses":{"200":{"description":"Simulation state","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Simulation"}}}},"401":{"$ref":"#/components/responses/WalletAuthUnauthorized"},"403":{"description":"Access denied — caller does not own this simulation","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}},"404":{"$ref":"#/components/responses/NotFound"},"500":{"$ref":"#/components/responses/InternalError"}}}},"/rl/environments":{"x-stability":"stable","post":{"tags":["Create"],"summary":"Create an RL training environment","description":"Creates a reinforcement learning environment for training agents.\nLinks to an existing simulation and configures episode parameters.\n\nThis endpoint works with simulations built on **any supported provider**,\nincluding AWS, GCP, Azure, OCI, and **DigitalOcean**. Training an agent against\na DigitalOcean simulation lets you learn optimal autoscaling strategies for\nDroplet-based workloads, Managed Database failover handling, and\nmulti-datacenter traffic routing — all without incurring real cloud costs.\nThe observation space, action space, and reward function are identical\nregardless of provider.\n\n**Idle TTL:** Authenticated RL environments expire after **2 hours of inactivity**\n(no `step` or `reset` call received). Expired environments and their linked\nsimulations are removed automatically; subsequent requests return `404`. Reset the\nidle timer by calling `POST /rl/environments/{environmentId}/step` or\n`POST /rl/environments/{environmentId}/reset` at least once every 2 hours during\nlong training runs.\n\n**Note:** In-memory deployments (the default) do not persist RL environments\nacross server restarts. Reconnect or recreate the environment after a restart.\n\n**UI Status Viewer:** Once an environment is running you can monitor its episodes,\ncumulative rewards, and health without writing code — open the\n[RL Environment Status viewer](/admin/rl-environments) in the platform UI and enter\nyour API key to see all active environments at a glance.\n","operationId":"createRLEnvironment","x-codeSamples":[{"lang":"curl","label":"curl","source":"curl -X POST https://your-production-domain.com/api/rl/environments \\\n  -H \"Authorization: Bearer $API_KEY\" \\\n  -H \"Content-Type: application/json\" \\\n  -d '{\n    \"simulationId\": \"a638caad-7423-40a3-bb09-f91235d9392d\",\n    \"episodeConfig\": {\n      \"maxSteps\": 200,\n      \"targetTrafficPattern\": \"wave\",\n      \"initialTraffic\": 1500,\n      \"targetSLA\": { \"maxLatencyP95\": 180, \"maxErrorRate\": 1.0 },\n      \"costBudgetPerHour\": 3.50,\n      \"enableFailures\": false\n    }\n  }'\n"},{"lang":"Python","label":"Python","source":"import requests\n\nBASE_URL = \"https://your-production-domain.com/api\"\nAPI_KEY = \"your-api-key\"\n\nresp = requests.post(\n    f\"{BASE_URL}/rl/environments\",\n    headers={\"Authorization\": f\"Bearer {API_KEY}\"},\n    json={\n        \"simulationId\": \"a638caad-7423-40a3-bb09-f91235d9392d\",\n        \"episodeConfig\": {\n            \"maxSteps\": 200,\n            \"targetTrafficPattern\": \"wave\",\n            \"initialTraffic\": 1500,\n            \"targetSLA\": {\"maxLatencyP95\": 180, \"maxErrorRate\": 1.0},\n            \"costBudgetPerHour\": 3.50,\n            \"enableFailures\": False,\n        },\n    },\n)\nresp.raise_for_status()\ndata = resp.json()\nenv_id = data[\"environment\"][\"id\"]\nprint(f\"Created RL environment: {env_id}\")\nprint(f\"Initial CPU: {data['observation']['metrics']['cpuUsage']}%\")\n"},{"lang":"Node.js","label":"Node.js","source":"const BASE_URL = \"https://your-production-domain.com/api\";\nconst API_KEY = \"your-api-key\";\n\nconst resp = await fetch(`${BASE_URL}/rl/environments`, {\n  method: \"POST\",\n  headers: {\n    \"Authorization\": `Bearer ${API_KEY}`,\n    \"Content-Type\": \"application/json\",\n  },\n  body: JSON.stringify({\n    simulationId: \"a638caad-7423-40a3-bb09-f91235d9392d\",\n    episodeConfig: {\n      maxSteps: 200,\n      targetTrafficPattern: \"wave\",\n      initialTraffic: 1500,\n      targetSLA: { maxLatencyP95: 180, maxErrorRate: 1.0 },\n      costBudgetPerHour: 3.50,\n      enableFailures: false,\n    },\n  }),\n});\nconst data = await resp.json();\nconst envId = data.environment.id;\nconsole.log(`Created RL environment: ${envId}`);\nconsole.log(`Initial CPU: ${data.observation.metrics.cpuUsage}%`);\n"}],"security":[],"requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","required":["simulationId","episodeConfig"],"properties":{"simulationId":{"type":"string","format":"uuid","description":"ID of the simulation to train on","example":"a638caad-7423-40a3-bb09-f91235d9392d"},"episodeConfig":{"$ref":"#/components/schemas/EpisodeConfig"},"rewardWeights":{"$ref":"#/components/schemas/RewardWeights"},"webhookUrl":{"type":"string","format":"uri","description":"Optional HTTPS URL to receive webhook notification when episode completes","example":"https://your-app.com/webhooks/rl-episode"},"webhookSecret":{"type":"string","description":"Optional secret for HMAC-SHA256 webhook signature verification","example":"your-secret-key-here"}}},"examples":{"digitalOceanWaveTraffic":{"summary":"DigitalOcean Droplet cluster — wave traffic pattern","description":"Train an agent on a DigitalOcean simulation using a wave traffic pattern.\nThe simulationId must reference an existing simulation that contains\nDigitalOcean resources (Droplets, Managed Database, Load Balancer).\nThe cost budget of $3.50/hr reflects typical pricing for two\ns-2vcpu-4gb Droplets plus a single Managed PostgreSQL basic node in nyc3.\n","value":{"simulationId":"b7e1c2d4-3f8a-4b5e-9c0d-1e2f3a4b5c6d","episodeConfig":{"maxSteps":200,"targetTrafficPattern":"wave","initialTraffic":1500,"targetSLA":{"maxLatencyP95":180,"maxErrorRate":1},"costBudgetPerHour":3.5,"enableFailures":false}}},"digitalOceanBurstTraffic":{"summary":"DigitalOcean Droplet cluster — burst traffic with failure injection","description":"More challenging episode: burst traffic spikes combined with random failure\ninjection (e.g., Managed Database failover). Useful for training a robust\nagent that can handle both scaling pressure and partial outages.\n","value":{"simulationId":"b7e1c2d4-3f8a-4b5e-9c0d-1e2f3a4b5c6d","episodeConfig":{"maxSteps":150,"targetTrafficPattern":"burst","initialTraffic":800,"targetSLA":{"maxLatencyP95":200,"maxErrorRate":2},"costBudgetPerHour":5,"enableFailures":true}}},"digitalOceanAMDNVMe":{"summary":"DigitalOcean AMD NVMe Droplet cluster — sustained ramp traffic","description":"Train an agent on a DigitalOcean simulation using AMD NVMe Droplets\n(s-2vcpu-4gb-amd). The AMD variant uses NVMe-backed local storage and\nAMD EPYC processors, offering lower per-hour cost than equivalent\nIntel Droplets while delivering comparable CPU performance for\ncompute-bound workloads.\n\nThe cost budget of $2.80/hr reflects typical pricing for two\ns-2vcpu-4gb-amd Droplets plus a single Managed PostgreSQL basic node\nin nyc3. Use this example to benchmark agent policies across Intel vs.\nAMD Droplet fleets under a sustained ramp traffic pattern.\n","value":{"simulationId":"c9f2d3e5-4a7b-4c6f-8d1e-2f3a4b5c6d7e","episodeConfig":{"maxSteps":200,"targetTrafficPattern":"ramp","initialTraffic":1000,"targetSLA":{"maxLatencyP95":175,"maxErrorRate":1},"costBudgetPerHour":2.8,"enableFailures":false,"computeType":"s-2vcpu-4gb-amd"}}},"awsSpot":{"summary":"AWS EC2 Spot — cost-optimized batch RL training using Spot Instances","description":"Train an agent on a cost-sensitive AWS workload backed by EC2 Spot Instances.\nThe simulationId must reference an existing simulation containing Spot-eligible\nresources (e.g. t3.xlarge or c5.2xlarge instances). The cost budget of $1.80/hr\nreflects typical Spot pricing for a small fleet of t3.large instances in us-east-1\n(roughly 70% below on-demand list price). Latency SLA is relaxed to 500 ms p95\nto accommodate the occasional Spot interruption and re-scheduling delay. Use this\nexample to benchmark agent policies that prioritise cost efficiency over strict\nlatency guarantees — a common requirement for ML training, data pipelines, and\nother fault-tolerant batch workloads.\n","value":{"simulationId":"d4e5f6a7-1b2c-4d3e-8f9a-0b1c2d3e4f5a","episodeConfig":{"maxSteps":200,"targetTrafficPattern":"ramp","initialTraffic":1000,"targetSLA":{"maxLatencyP95":500,"maxErrorRate":2},"costBudgetPerHour":1.8,"enableFailures":true},"webhookUrl":"https://your-app.example.com/webhooks/rl-episode","webhookSecret":"aws-spot-rl-secret"}},"gcpSpot":{"summary":"GCP Spot VM — cost-optimized batch RL training using preemptible compute","description":"Train an agent on a cost-sensitive GCP workload backed by Spot VMs (formerly\npreemptible). The simulationId must reference an existing simulation containing\nSpot-eligible resources (e.g. n2-standard-4 or c2-standard-8 Spot instances in\nus-central1). The cost budget of $1.60/hr reflects typical Spot pricing for a\nsmall fleet of n2-standard-4 instances (roughly 70% below on-demand list price).\nLatency SLA is relaxed to 500 ms p95 to accommodate the occasional preemption\nand re-scheduling delay. Use this example to benchmark agent policies that\nprioritise cost efficiency over strict latency guarantees — ideal for ML\ntraining, data processing, and other fault-tolerant batch workloads on GCP.\n","value":{"simulationId":"e5f6a7b8-2c3d-4e5f-9a0b-1c2d3e4f5a6b","episodeConfig":{"maxSteps":200,"targetTrafficPattern":"ramp","initialTraffic":1000,"targetSLA":{"maxLatencyP95":500,"maxErrorRate":2},"costBudgetPerHour":1.6,"enableFailures":true},"webhookUrl":"https://your-app.example.com/webhooks/rl-episode","webhookSecret":"gcp-spot-rl-secret"}},"azureSpot":{"summary":"Azure Spot VM — cost-optimized batch RL training using Azure Spot instances","description":"Train an agent on a cost-sensitive Azure workload backed by Azure Spot VMs.\nThe simulationId must reference an existing simulation containing Spot-eligible\nresources (e.g. Standard_D4s_v3 or Standard_F8s_v2 Spot instances in eastus).\nThe cost budget of $1.50/hr reflects typical Spot pricing for a small fleet of\nStandard_D4s_v3 instances (roughly 70% below pay-as-you-go list price). Latency\nSLA is relaxed to 400 ms p95 to accommodate Azure Spot eviction and re-deployment\ndelays. Use this example to benchmark agent policies that prioritise cost\nefficiency over strict latency guarantees — well-suited for batch inference,\ndata pipelines, and other interruption-tolerant workloads on Azure.\n","value":{"simulationId":"f6a7b8c9-3d4e-4f5a-0b1c-2d3e4f5a6b7c","episodeConfig":{"maxSteps":200,"targetTrafficPattern":"ramp","initialTraffic":1000,"targetSLA":{"maxLatencyP95":400,"maxErrorRate":2},"costBudgetPerHour":1.5,"enableFailures":true},"webhookUrl":"https://your-app.example.com/webhooks/rl-episode","webhookSecret":"azure-spot-rl-secret"}},"ociPreemptible":{"summary":"OCI Ampere A1 Preemptible — cost-optimized batch RL training using OCI preemptible compute","description":"Train an agent on a cost-sensitive OCI workload backed by preemptible Ampere A1\ninstances. The simulationId must reference an existing simulation containing\npreemptible-eligible resources (e.g. VM.Standard.A1.Flex instances in\nus-ashburn-1). OCI preemptible instances are priced at roughly 50% below\nstandard on-demand rates, making them the most cost-effective option in OCI for\nfault-tolerant batch workloads. The cost budget of $1.20/hr reflects typical\npreemptible pricing for a small Ampere A1 fleet. Latency SLA is relaxed to\n600 ms p95 to accommodate the occasional preemption and re-scheduling delay.\nUse this example to benchmark agent policies that prioritise cost efficiency\nover strict latency guarantees — ideal for ML training, data pipelines,\ngenomic workloads, and other interruption-tolerant tasks on OCI.\n","value":{"simulationId":"a1b2c3d4-5e6f-4a7b-8c9d-0e1f2a3b4c5d","episodeConfig":{"maxSteps":200,"targetTrafficPattern":"ramp","initialTraffic":1000,"targetSLA":{"maxLatencyP95":600,"maxErrorRate":2},"costBudgetPerHour":1.2,"enableFailures":true},"webhookUrl":"https://your-app.example.com/webhooks/rl-episode","webhookSecret":"oci-preemptible-rl-secret"}}}}}},"responses":{"201":{"description":"RL environment created successfully","content":{"application/json":{"schema":{"type":"object","properties":{"environment":{"$ref":"#/components/schemas/RLEnvironment"},"observation":{"$ref":"#/components/schemas/Observation"}}}}}},"400":{"$ref":"#/components/responses/BadRequest"},"404":{"description":"Simulation not found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}}}}},"/rl/environments/{environmentId}":{"x-stability":"stable","get":{"tags":["Create"],"summary":"Inspect an RL environment","description":"Retrieve the current state and configuration of an RL environment","operationId":"getRLEnvironment","x-codeSamples":[{"lang":"curl","label":"curl","source":"curl https://your-production-domain.com/api/rl/environments/env-aws-001 \\\n  -H \"Authorization: Bearer $API_KEY\"\n"},{"lang":"Python","label":"Python","source":"import requests\n\nBASE_URL = \"https://your-production-domain.com/api\"\nAPI_KEY = \"your-api-key\"\nENV_ID = \"env-aws-001\"\n\nresp = requests.get(\n    f\"{BASE_URL}/rl/environments/{ENV_ID}\",\n    headers={\"Authorization\": f\"Bearer {API_KEY}\"},\n)\nresp.raise_for_status()\nenv = resp.json()\nprint(f\"Environment {env['id']}  isActive={env['isActive']}  \"\n      f\"step={env['currentStep']}/{env['maxSteps']}\")\n"},{"lang":"Node.js","label":"Node.js","source":"const BASE_URL = \"https://your-production-domain.com/api\";\nconst API_KEY = \"your-api-key\";\nconst ENV_ID = \"env-aws-001\";\n\nconst resp = await fetch(`${BASE_URL}/rl/environments/${ENV_ID}`, {\n  headers: { \"Authorization\": `Bearer ${API_KEY}` },\n});\nconst env = await resp.json();\nconsole.log(`Environment ${env.id}  isActive=${env.isActive}  step=${env.currentStep}/${env.maxSteps}`);\n"}],"security":[],"parameters":[{"name":"environmentId","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"responses":{"200":{"description":"Environment details","content":{"application/json":{"schema":{"$ref":"#/components/schemas/RLEnvironment"}}}},"404":{"$ref":"#/components/responses/NotFound"}}},"delete":{"tags":["Create"],"summary":"Delete an RL training environment","description":"Cancel a running RL training episode. This endpoint is idempotent - calling it multiple times\non the same episode will return success without error.\n\n**Cancellation Rules:**\n- Episodes with isActive=true will be cancelled\n- Episodes already cancelled (isActive=false) will return success (idempotent behavior)\n- Cancelled episodes will have isActive set to false and a cancelledAt timestamp\n","operationId":"cancelRLEnvironment","security":[],"parameters":[{"name":"environmentId","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"responses":{"200":{"description":"Episode cancelled successfully or was already cancelled.\nReturns the same response whether cancelling for the first time or if already cancelled\n(idempotent operation).\n","content":{"application/json":{"schema":{"type":"object","properties":{"id":{"type":"string","format":"uuid"},"isActive":{"type":"boolean","enum":[false]},"cancelledAt":{"type":"string","format":"date-time"},"message":{"type":"string","description":"Message indicating if episode was just cancelled or already cancelled"}}},"examples":{"newlyCancelled":{"value":{"id":"env_abc123","isActive":false,"cancelledAt":"2024-01-15T10:30:00Z","message":"RL training episode cancelled successfully"}},"alreadyCancelled":{"value":{"id":"env_abc123","isActive":false,"cancelledAt":"2024-01-15T09:45:00Z","message":"Episode already cancelled"}}}}}},"404":{"$ref":"#/components/responses/NotFound"}}}},"/simulations/{simulationId}/step-hybrid":{"x-stability":"stable","post":{"tags":["Execute"],"summary":"Advance simulation one step (hybrid ML + rules)","description":"Steps the simulation using the Hybrid Prediction Engine, which blends a\ndeterministic rule-based simulation with a simulated ML-based prediction.\nThe engine uses a confidence threshold to decide how much weight to give\neach path, and falls back to pure rules when ML confidence is low.\n\nReturns the updated simulation state, step metrics, events, the hybrid\ndecision record (including ML confidence and blending rationale), and the\nupdated cumulative hybrid result object.\n\nRequires `write` scope and ownership.\n","operationId":"stepSimulationHybrid","x-codeSamples":[{"lang":"curl","label":"curl","source":"curl -X POST https://your-production-domain.com/api/simulations/sim-abc123/step-hybrid \\\n  -H \"Authorization: Bearer $API_KEY\" \\\n  -H \"Content-Type: application/json\" \\\n  -d '{\"config\": {\"mlWeight\": 0.6, \"confidenceThreshold\": 0.5}}'\n"},{"lang":"Python","label":"Python","source":"import requests\n\nBASE_URL = \"https://your-production-domain.com/api\"\nAPI_KEY = \"your-api-key\"\n\nresp = requests.post(\n    f\"{BASE_URL}/simulations/sim-abc123/step-hybrid\",\n    headers={\"Authorization\": f\"Bearer {API_KEY}\"},\n    json={\"config\": {\"mlWeight\": 0.6, \"confidenceThreshold\": 0.5}},\n)\nresp.raise_for_status()\ndata = resp.json()\nprint(\"ML confidence:\", data[\"hybridDecision\"][\"mlPrediction\"][\"overallConfidence\"])\n"},{"lang":"Node.js","label":"Node.js","source":"const BASE_URL = \"https://your-production-domain.com/api\";\nconst API_KEY = \"your-api-key\";\n\nconst resp = await fetch(`${BASE_URL}/simulations/sim-abc123/step-hybrid`, {\n  method: \"POST\",\n  headers: {\n    \"Authorization\": `Bearer ${API_KEY}`,\n    \"Content-Type\": \"application/json\",\n  },\n  body: JSON.stringify({ config: { mlWeight: 0.6, confidenceThreshold: 0.5 } }),\n});\nconst data = await resp.json();\nconsole.log(\"ML confidence:\", data.hybridDecision.mlPrediction.overallConfidence);\n"}],"security":[{"x402":[]}],"x-payment-info":{"protocols":["x402"],"price":{"mode":"fixed","currency":"USD","amount":"0.001"}},"x-x402-call-type":"simulation_step_hybrid","x-x402-price-usdc":"$0.0010","parameters":[{"name":"simulationId","in":"path","required":true,"schema":{"type":"string"},"description":"Simulation UUID","example":"sim-abc123"}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","properties":{"steps":{"type":"integer","description":"Number of time steps to advance in a single call (1–500, default 1).\nEach sub-step evaluates traffic patterns at the correct elapsed time,\nso a ramp or wave pattern reaches the same final value whether driven\nas N×1 individual calls or a single batch call of N.\n","minimum":1,"maximum":500,"default":1,"example":5},"config":{"type":"object","description":"Optional hybrid engine configuration overrides","properties":{"mlWeight":{"type":"number","minimum":0,"maximum":1,"description":"Weight given to ML prediction vs rule-based (0 = pure rules, 1 = pure ML)","example":0.6},"confidenceThreshold":{"type":"number","minimum":0,"maximum":1,"description":"Minimum ML confidence to apply blending; below this threshold pure rules are used","example":0.5}}}},"example":{"config":{"mlWeight":0.6,"confidenceThreshold":0.5}}},"examples":{"defaultBlend":{"summary":"Default hybrid blend (60% ML, 40% rules)","value":{"config":{"mlWeight":0.6,"confidenceThreshold":0.5}}},"rulesHeavy":{"summary":"Rules-heavy blend — prefer deterministic path","value":{"config":{"mlWeight":0.2,"confidenceThreshold":0.7}}}}}}},"responses":{"200":{"description":"Hybrid step result","content":{"application/json":{"schema":{"type":"object","properties":{"simulation":{"$ref":"#/components/schemas/Simulation"},"metrics":{"type":"object","description":"Metrics snapshot for this step"},"events":{"type":"array","items":{"type":"object"}},"hybridDecision":{"type":"object","description":"Hybrid decision metadata for this step","properties":{"blendingApplied":{"type":"boolean"},"fallbackUsed":{"type":"boolean"},"mlPrediction":{"type":"object","properties":{"overallConfidence":{"type":"number","example":0.78},"bottlenecks":{"type":"array","items":{"type":"string"}},"eventLikelihoods":{"type":"array","items":{"type":"object"}}}}}},"hybridResult":{"type":"object","description":"Cumulative hybrid result history"},"expiresAt":{"type":"string","format":"date-time","description":"Present only on x402 (wallet-paying) calls. ISO-8601 timestamp when\nownership (and the simulation itself) expires. Reset to now+90 days on\nevery successful step-hybrid call.\n","example":"2026-10-17T22:00:00.000Z"},"ownership":{"type":"object","description":"Present only on x402 (wallet-paying) calls. Describes the wallet\nthat owns this simulation and when that ownership expires.\n","properties":{"type":{"type":"string","description":"Ownership type — always \"wallet\" for x402 callers.","example":"wallet"},"wallet":{"type":"string","description":"Normalized Ethereum wallet address that owns this simulation.","example":"0xdeadbeefdeadbeefdeadbeefdeadbeefdeadbeef"},"expiresAt":{"type":"string","format":"date-time","description":"ISO-8601 timestamp when ownership (and the simulation itself)\nexpires. Reset to now+90 days on every successful step-hybrid call.\n","example":"2026-10-17T22:00:00.000Z"},"retentionDays":{"type":"integer","description":"Rolling retention window in days (always 90).","example":90}}}}}}}},"401":{"$ref":"#/components/responses/Unauthorized"},"402":{"$ref":"#/components/responses/X402PaymentRequired"},"403":{"description":"Access denied","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}},"404":{"$ref":"#/components/responses/NotFound"},"409":{"description":"Simulation already owned by another wallet or API key","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string","example":"simulation_owned_by_another_wallet"},"message":{"type":"string","example":"This simulation is owned by a different wallet."}}}}}},"500":{"$ref":"#/components/responses/InternalError"}}}},"/simulations/{simulationId}/inject-traffic":{"x-stability":"stable","post":{"tags":["Simulations"],"summary":"Inject a random traffic spike","description":"Immediately injects a sudden traffic spike into the simulation by multiplying\nthe current traffic load by a random factor (typically 2×–5×). The spike is\napplied to the simulation state and recorded as a warning event.\n\nUseful for testing autoscaling responsiveness without configuring a full\ntraffic pattern. The effect persists until the next step adjusts traffic\nback via active patterns.\n\nRequires `write` scope and ownership.\n","operationId":"injectTraffic","x-codeSamples":[{"lang":"curl","label":"curl","source":"curl -X POST https://your-production-domain.com/api/simulations/sim-abc123/inject-traffic \\\n  -H \"Authorization: Bearer $API_KEY\"\n"},{"lang":"Python","label":"Python","source":"import requests\n\nBASE_URL = \"https://your-production-domain.com/api\"\nAPI_KEY = \"your-api-key\"\n\nresp = requests.post(\n    f\"{BASE_URL}/simulations/sim-abc123/inject-traffic\",\n    headers={\"Authorization\": f\"Bearer {API_KEY}\"},\n)\nresp.raise_for_status()\ndata = resp.json()\nprint(\"Spike event:\", data[\"event\"][\"message\"])\n"},{"lang":"Node.js","label":"Node.js","source":"const BASE_URL = \"https://your-production-domain.com/api\";\nconst API_KEY = \"your-api-key\";\n\nconst resp = await fetch(`${BASE_URL}/simulations/sim-abc123/inject-traffic`, {\n  method: \"POST\",\n  headers: { \"Authorization\": `Bearer ${API_KEY}` },\n});\nconst data = await resp.json();\nconsole.log(\"Spike event:\", data.event.message);\n"}],"security":[{"x402":[]}],"x-payment-info":{"protocols":["x402"],"price":{"mode":"fixed","currency":"USD","amount":"0.001"}},"x-x402-call-type":"inject_traffic","x-x402-price-usdc":"$0.0010","parameters":[{"name":"simulationId","in":"path","required":true,"schema":{"type":"string"},"description":"Simulation UUID"}],"requestBody":{"required":false,"content":{"application/json":{"schema":{"type":"object","properties":{},"additionalProperties":false}}}},"responses":{"200":{"description":"Traffic spike applied","content":{"application/json":{"schema":{"type":"object","properties":{"simulation":{"$ref":"#/components/schemas/Simulation"},"event":{"type":"object","description":"Event recording the traffic spike","properties":{"id":{"type":"string"},"simulationId":{"type":"string"},"severity":{"type":"string","example":"warning"},"message":{"type":"string","example":"Traffic spike injected: 1000 → 4200 RPS"}}}}}}}},"401":{"$ref":"#/components/responses/ApiKeyUnauthorized"},"403":{"description":"Access denied","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}},"404":{"$ref":"#/components/responses/NotFound"},"500":{"$ref":"#/components/responses/InternalError"}}}},"/simulations/{simulationId}/inject-failure":{"x-stability":"stable","post":{"tags":["Simulations"],"summary":"Inject a random node failure","description":"Randomly selects a healthy compute node in the simulation and marks it as\nfailed, updating the resource state and recording a warning event.\n\nReturns 400 if no healthy nodes are available to fail.\nFor fine-grained control over failure type, duration, and target, use\n`POST /simulations/{simulationId}/failures` instead.\n\nRequires `write` scope and ownership.\n","operationId":"injectFailure","x-codeSamples":[{"lang":"curl","label":"curl","source":"curl -X POST https://your-production-domain.com/api/simulations/sim-abc123/inject-failure \\\n  -H \"Authorization: Bearer $API_KEY\"\n"},{"lang":"Python","label":"Python","source":"import requests\n\nBASE_URL = \"https://your-production-domain.com/api\"\nAPI_KEY = \"your-api-key\"\n\nresp = requests.post(\n    f\"{BASE_URL}/simulations/sim-abc123/inject-failure\",\n    headers={\"Authorization\": f\"Bearer {API_KEY}\"},\n)\nresp.raise_for_status()\ndata = resp.json()\nprint(\"Failure event:\", data[\"event\"][\"message\"])\n"},{"lang":"Node.js","label":"Node.js","source":"const BASE_URL = \"https://your-production-domain.com/api\";\nconst API_KEY = \"your-api-key\";\n\nconst resp = await fetch(`${BASE_URL}/simulations/sim-abc123/inject-failure`, {\n  method: \"POST\",\n  headers: { \"Authorization\": `Bearer ${API_KEY}` },\n});\nconst data = await resp.json();\nconsole.log(\"Failure event:\", data.event.message);\n"}],"security":[{"x402":[]}],"x-payment-info":{"protocols":["x402"],"price":{"mode":"fixed","currency":"USD","amount":"0.001"}},"x-x402-call-type":"inject_failure","x-x402-price-usdc":"$0.0010","parameters":[{"name":"simulationId","in":"path","required":true,"schema":{"type":"string"},"description":"Simulation UUID"}],"requestBody":{"required":false,"content":{"application/json":{"schema":{"type":"object","properties":{},"additionalProperties":false}}}},"responses":{"200":{"description":"Node failure injected","content":{"application/json":{"schema":{"type":"object","properties":{"simulation":{"$ref":"#/components/schemas/Simulation"},"event":{"type":"object","description":"Event recording the node failure"}}}}}},"400":{"description":"No healthy nodes available to fail","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}},"401":{"$ref":"#/components/responses/ApiKeyUnauthorized"},"403":{"description":"Access denied","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}},"404":{"$ref":"#/components/responses/NotFound"},"500":{"$ref":"#/components/responses/InternalError"}}}},"/rl/environments/{environmentId}/step":{"x-stability":"stable","post":{"tags":["Execute"],"summary":"Execute an RL action and advance one step","description":"Executes an agent action, simulates one time step, and returns the next observation,\nreward, and episode completion status. This is the core training loop interaction.\n\n**Idle TTL:** Each successful step call resets the environment's 2-hour idle timer.\nEnvironments that receive no `step` or `reset` calls for 2 hours are automatically\ndeactivated and their linked simulation artifacts removed. Subsequent requests to a\ndeactivated environment return `404`. Call `step` or `reset` at least once every\n2 hours during long training runs to keep the environment alive.\n","operationId":"stepRLEnvironment","x-codeSamples":[{"lang":"curl","label":"curl","source":"curl -X POST https://your-production-domain.com/api/rl/environments/env-aws-001/step \\\n  -H \"Authorization: Bearer $API_KEY\" \\\n  -H \"Content-Type: application/json\" \\\n  -d '{\"action\": {\"type\": \"scale_out\", \"parameters\": {\"instanceCount\": 1}}}'\n"},{"lang":"Python","label":"Python","source":"import requests\n\nBASE_URL = \"https://your-production-domain.com/api\"\nAPI_KEY = \"your-api-key\"\nENV_ID = \"env-aws-001\"\n\nresp = requests.post(\n    f\"{BASE_URL}/rl/environments/{ENV_ID}/step\",\n    headers={\"Authorization\": f\"Bearer {API_KEY}\"},\n    json={\"action\": {\"type\": \"scale_out\", \"parameters\": {\"instanceCount\": 1}}},\n)\nresp.raise_for_status()\ndata = resp.json()\nprint(f\"t={data['t']}  reward={data['reward']:.3f}  done={data['done']}\")\nprint(f\"CPU: {data['obs']['cpu_util']:.1%}  P95: {data['metrics']['latency_p95']} ms  \"\n      f\"cost: ${data['metrics']['cost_usd_hr']:.2f}/hr\")\n"},{"lang":"Node.js","label":"Node.js","source":"const BASE_URL = \"https://your-production-domain.com/api\";\nconst API_KEY = \"your-api-key\";\nconst ENV_ID = \"env-aws-001\";\n\nconst resp = await fetch(`${BASE_URL}/rl/environments/${ENV_ID}/step`, {\n  method: \"POST\",\n  headers: {\n    \"Authorization\": `Bearer ${API_KEY}`,\n    \"Content-Type\": \"application/json\",\n  },\n  body: JSON.stringify({ action: { type: \"scale_out\", parameters: { instanceCount: 1 } } }),\n});\nconst data = await resp.json();\nconsole.log(`t=${data.t}  reward=${data.reward.toFixed(3)}  done=${data.done}`);\nconsole.log(`CPU: ${(data.obs.cpu_util * 100).toFixed(1)}%  P95: ${data.metrics.latency_p95} ms  cost: $${data.metrics.cost_usd_hr.toFixed(2)}/hr`);\n"},{"lang":"Python","label":"Python – warm-up/training","source":"\"\"\"\nTwo-phase training loop: fast warm-up followed by fine-grained training.\n\nPhase 1 – Warm-up (300 s ticks)\n  Use large tick_seconds to fast-forward through startup noise before the\n  agent starts making meaningful autoscaling decisions. Each step advances\n  the simulation clock by 5 minutes, so 20 warm-up steps cover ~1.7 hours\n  of simulated time in seconds of wall time.\n\nPhase 2 – Training (60 s ticks)\n  Switch to 1-minute ticks for precise autoscaling control. The agent now\n  observes and reacts to traffic on a per-minute basis, matching the\n  granularity of real autoscaling cooldown windows (e.g. AWS default: 300 s).\n\"\"\"\nimport requests\n\nBASE_URL = \"https://your-production-domain.com/api\"\nAPI_KEY = \"your-api-key\"\nENV_ID = \"env-aws-001\"\n\nsession = requests.Session()\nsession.headers.update({\"Authorization\": f\"Bearer {API_KEY}\"})\n\ndef step(action: dict, tick_seconds: int) -> dict:\n    resp = session.post(\n        f\"{BASE_URL}/rl/environments/{ENV_ID}/step\",\n        json={\"action\": action, \"tick_seconds\": tick_seconds},\n    )\n    resp.raise_for_status()\n    return resp.json()\n\nNO_OP = {\"type\": \"no_op\", \"parameters\": {}}\n\nWARMUP_STEPS = 20\nprint(\"=== Warm-up phase (300 s ticks) ===\")\nfor i in range(WARMUP_STEPS):\n    data = step(NO_OP, tick_seconds=300)\n    print(\n        f\"  warmup {i+1:2d}/{WARMUP_STEPS}  \"\n        f\"sim={data['sim_time_human']:>8s}  \"\n        f\"cpu={data['obs']['cpu_util']:.1%}  \"\n        f\"instances={data['obs']['instances']}\"\n    )\n    if data[\"done\"]:\n        print(\"  Episode ended during warm-up — reset and retry.\")\n        break\n\nprint(\"\\n=== Training phase (60 s ticks) ===\")\ndone = False\nwhile not done:\n    cpu = data[\"obs\"][\"cpu_util\"]\n    if cpu > 0.75:\n        action = {\"type\": \"scale_out\", \"parameters\": {\"instanceCount\": 1}}\n    elif cpu < 0.30 and data[\"obs\"][\"instances\"] > 1:\n        action = {\"type\": \"scale_in\", \"parameters\": {\"instanceCount\": 1}}\n    else:\n        action = NO_OP\n\n    data = step(action, tick_seconds=60)\n    done = data[\"done\"]\n    print(\n        f\"  t={data['t']:4d}  sim={data['sim_time_human']:>8s}  \"\n        f\"reward={data['reward']:+.3f}  \"\n        f\"cpu={data['obs']['cpu_util']:.1%}  \"\n        f\"p95={data['metrics']['latency_p95']} ms  \"\n        f\"cost=${data['metrics']['cost_usd_hr']:.2f}/hr  \"\n        f\"done={done}\"\n    )\n"},{"lang":"Node.js","label":"Node.js – warm-up/training","source":"/**\n * Two-phase training loop: fast warm-up followed by fine-grained training.\n *\n * Phase 1 – Warm-up (300 s ticks)\n *   Use large tick_seconds to fast-forward through startup noise before the\n *   agent starts making meaningful autoscaling decisions. Each step advances\n *   the simulation clock by 5 minutes, so 20 warm-up steps cover ~1.7 hours\n *   of simulated time in seconds of wall time.\n *\n * Phase 2 – Training (60 s ticks)\n *   Switch to 1-minute ticks for precise autoscaling control. The agent now\n *   observes and reacts to traffic on a per-minute basis, matching the\n *   granularity of real autoscaling cooldown windows (e.g. AWS default: 300 s).\n */\nconst BASE_URL = \"https://your-production-domain.com/api\";\nconst API_KEY = \"your-api-key\";\nconst ENV_ID = \"env-aws-001\";\n\nasync function step(action, tickSeconds) {\n  const resp = await fetch(`${BASE_URL}/rl/environments/${ENV_ID}/step`, {\n    method: \"POST\",\n    headers: {\n      \"Authorization\": `Bearer ${API_KEY}`,\n      \"Content-Type\": \"application/json\",\n    },\n    body: JSON.stringify({ action, tick_seconds: tickSeconds }),\n  });\n  if (!resp.ok) throw new Error(`step failed: ${resp.status}`);\n  return resp.json();\n}\n\nconst NO_OP = { type: \"no_op\", parameters: {} };\n\n// --- Phase 1: Warm-up (300 s / 5-minute ticks) ---\nconst WARMUP_STEPS = 20;\nconsole.log(\"=== Warm-up phase (300 s ticks) ===\");\nlet data;\nfor (let i = 0; i < WARMUP_STEPS; i++) {\n  data = await step(NO_OP, 300);\n  console.log(\n    `  warmup ${String(i + 1).padStart(2)}/${WARMUP_STEPS}` +\n    `  sim=${data.sim_time_human.padStart(8)}` +\n    `  cpu=${(data.obs.cpu_util * 100).toFixed(1)}%` +\n    `  instances=${data.obs.instances}`\n  );\n  if (data.done) {\n    console.log(\"  Episode ended during warm-up — reset and retry.\");\n    break;\n  }\n}\n\n// --- Phase 2: Training (60 s / 1-minute ticks) ---\nconsole.log(\"\\n=== Training phase (60 s ticks) ===\");\nlet done = false;\nwhile (!done) {\n  const cpu = data.obs.cpu_util;\n  let action;\n  if (cpu > 0.75) {\n    action = { type: \"scale_out\", parameters: { instanceCount: 1 } };\n  } else if (cpu < 0.30 && data.obs.instances > 1) {\n    action = { type: \"scale_in\", parameters: { instanceCount: 1 } };\n  } else {\n    action = NO_OP;\n  }\n\n  data = await step(action, 60);\n  done = data.done;\n  console.log(\n    `  t=${String(data.t).padStart(4)}  sim=${data.sim_time_human.padStart(8)}` +\n    `  reward=${data.reward >= 0 ? \"+\" : \"\"}${data.reward.toFixed(3)}` +\n    `  cpu=${(data.obs.cpu_util * 100).toFixed(1)}%` +\n    `  p95=${data.metrics.latency_p95} ms` +\n    `  cost=$${data.metrics.cost_usd_hr.toFixed(2)}/hr` +\n    `  done=${done}`\n  );\n}\n"},{"lang":"Python","label":"Python – mid-episode cold instance (warmup_factor)","source":"\"\"\"\nMid-episode warmup_factor safe-access pattern.\n\nobs.warmup_factor is an optional field — it is ABSENT from the observation\nvector until the first cold compute instance exists in the episode. This happens\nin two cases:\n  1. An `add_resource` action provisions a new compute resource mid-episode.\n  2. Canvas autoscaling adds a compute replica in response to high CPU/traffic.\n\nBecause the field appears dynamically, agents building a fixed-width\nobservation vector must default to 1.0 (fully warmed) when the field is absent:\n\n  wf = obs.get(\"warmup_factor\", 1.0)\n\nA value < 1.0 means at least one compute instance is still warming up and is\nnot yet at full throughput. Use wf directly as a feature — do not re-derive it\nfrom step counters or metrics.compute[].warmup_steps_remaining.\n\nThe pattern below shows a typical episode loop that handles both the pre-warmup\nphase (field absent) and the post-add_resource warm-up window (field in (0, 1]).\n\"\"\"\nimport requests\n\nBASE_URL = \"https://your-production-domain.com/api\"\nAPI_KEY = \"your-api-key\"\nENV_ID = \"env-aws-001\"\n\nsession = requests.Session()\nsession.headers.update({\"Authorization\": f\"Bearer {API_KEY}\"})\n\ndef step(action: dict) -> dict:\n    resp = session.post(\n        f\"{BASE_URL}/rl/environments/{ENV_ID}/step\",\n        json={\"action\": action},\n    )\n    resp.raise_for_status()\n    return resp.json()\n\ndone = False\nwhile not done:\n    obs = step({\"type\": \"no_op\", \"parameters\": {}})[\"obs\"]\n    wf = obs.get(\"warmup_factor\", 1.0)   # 1.0 = fully warmed / no cold instance\n\n    cpu = obs[\"cpu_util\"]\n\n    effective_cpu = cpu / wf if wf > 0 else cpu\n\n    if effective_cpu > 0.75:\n        action = {\"type\": \"scale_out\", \"parameters\": {\"instanceCount\": 1}}\n    elif effective_cpu < 0.30 and obs[\"instances\"] > 1:\n        action = {\"type\": \"scale_in\", \"parameters\": {\"instanceCount\": 1}}\n    else:\n        action = {\"type\": \"no_op\", \"parameters\": {}}\n\n    data = step(action)\n    done = data[\"done\"]\n    print(\n        f\"  t={data['t']:4d}  wf={wf:.2f}  \"\n        f\"cpu={cpu:.1%}  effective_cpu={effective_cpu:.1%}  \"\n        f\"reward={data['reward']:+.3f}  done={done}\"\n    )\n"},{"lang":"Node.js","label":"Node.js – mid-episode cold instance (warmup_factor)","source":"/**\n * Mid-episode warmup_factor safe-access pattern.\n *\n * obs.warmup_factor is an optional field — it is ABSENT from the observation\n * vector until the first cold compute instance exists in the episode. This\n * happens in two cases:\n *   1. An `add_resource` action provisions a new compute resource mid-episode.\n *   2. Canvas autoscaling adds a compute replica in response to high CPU/traffic.\n *\n * Because the field appears dynamically, agents building a fixed-width\n * observation vector must default to 1.0 (fully warmed) when the field is absent:\n *\n *   const wf = data.obs.warmup_factor ?? 1.0;\n *\n * A value < 1.0 means at least one compute instance is still warming up.\n * Use wf directly as a feature — do not re-derive it from\n * metrics.compute[].warmup_steps_remaining.\n */\nconst BASE_URL = \"https://your-production-domain.com/api\";\nconst API_KEY = \"your-api-key\";\nconst ENV_ID = \"env-aws-001\";\n\nasync function step(action) {\n  const resp = await fetch(`${BASE_URL}/rl/environments/${ENV_ID}/step`, {\n    method: \"POST\",\n    headers: {\n      \"Authorization\": `Bearer ${API_KEY}`,\n      \"Content-Type\": \"application/json\",\n    },\n    body: JSON.stringify({ action }),\n  });\n  if (!resp.ok) throw new Error(`step failed: ${resp.status}`);\n  return resp.json();\n}\n\nlet done = false;\nlet data = await step({ type: \"no_op\", parameters: {} });\nwhile (!done) {\n  // --- build observation vector (always safe even if field absent) ---\n  const obs = data.obs;\n  const wf = obs.warmup_factor ?? 1.0;  // 1.0 = fully warmed / no cold instance\n\n  const cpu = obs.cpu_util;\n  // penalise decisions made while a cold instance is still warming up\n  const effectiveCpu = wf > 0 ? cpu / wf : cpu;\n\n  let action;\n  if (effectiveCpu > 0.75) {\n    action = { type: \"scale_out\", parameters: { instanceCount: 1 } };\n  } else if (effectiveCpu < 0.30 && obs.instances > 1) {\n    action = { type: \"scale_in\", parameters: { instanceCount: 1 } };\n  } else {\n    action = { type: \"no_op\", parameters: {} };\n  }\n\n  data = await step(action);\n  done = data.done;\n  console.log(\n    `  t=${String(data.t).padStart(4)}  wf=${wf.toFixed(2)}` +\n    `  cpu=${(cpu * 100).toFixed(1)}%  effectiveCpu=${(effectiveCpu * 100).toFixed(1)}%` +\n    `  reward=${data.reward >= 0 ? \"+\" : \"\"}${data.reward.toFixed(3)}  done=${done}`\n  );\n}\n"}],"security":[{"x402":[]}],"x-payment-info":{"protocols":["x402"],"price":{"mode":"fixed","currency":"USD","amount":"0.001"}},"x-x402-call-type":"rl_step","x-x402-price-usdc":"$0.0010","parameters":[{"name":"environmentId","in":"path","required":true,"schema":{"type":"string","format":"uuid"},"description":"ID of the RL environment","example":"env-aws-001"}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","required":["action"],"properties":{"action":{"type":"object","required":["type"],"properties":{"type":{"type":"string","enum":["adjust_threshold","scale_out","scale_in","add_resource","remove_resource","no_op","set_recovery_policy"],"description":"Type of action to execute"},"parameters":{"type":"object","additionalProperties":true,"description":"Action-specific parameters (cpuThreshold, instanceCount, resourceId, etc.)"}},"example":{"type":"scale_out","parameters":{"instanceCount":1}}},"tick_seconds":{"type":"integer","minimum":1,"maximum":3600,"description":"Per-step override for the simulation clock advancement. When provided,\nthis value overrides the episode-level `tick_seconds` set in `episodeConfig`\nfor this step only. Useful for agents that want to fast-forward through\nwarm-up phases (e.g. 300 s ticks) and then switch to finer-grained steps\n(e.g. 60 s ticks) for precise autoscaling decisions. The actual value\nused is reflected in `observation.tick_seconds` in the response.\n","example":300}},"example":{"action":{"type":"scale_out","parameters":{"instanceCount":1}}}},"examples":{"doAdjustThreshold":{"summary":"DO: tune Droplet autoscaling thresholds","description":"Lower the CPU scale-out trigger from the default 70 % to 65 % so the\nDigitalOcean autoscaler scales out earlier, reducing latency during wave\ntraffic peaks. Also tightens the throughput threshold to 70 %.\n","value":{"action":{"type":"adjust_threshold","parameters":{"cpuThreshold":65,"throughputThreshold":70,"latencyThreshold":160}}}},"doScaleOut":{"summary":"DO: proactively add a Droplet replica","description":"Force-provision one additional s-2vcpu-4gb Droplet replica ahead of a\npredicted traffic spike. The first observation after this action will\nreflect the ~30 s cold-start latency overhead modelled for DigitalOcean.\n","value":{"action":{"type":"scale_out","parameters":{"instanceCount":1}}}},"doScaleIn":{"summary":"DO: remove an idle Droplet replica","description":"Remove one Droplet replica when traffic has subsided. The 180 s cooldown\nin the DigitalOcean autoscaling profile prevents thrashing between\nscale-in and scale-out actions.\n","value":{"action":{"type":"scale_in","parameters":{"instanceCount":1}}}},"digitaloceanAMDNVMeScaleOut":{"summary":"DO AMD NVMe: add an s-2vcpu-4gb-amd Droplet replica","description":"Force-provision one additional AMD NVMe Droplet (s-2vcpu-4gb-amd,\n$0.038/hr per instance) ahead of a predicted traffic spike. The AMD\nEPYC variant's NVMe-backed local storage delivers higher I/O throughput\nthan the standard Intel Droplet at the same price point. After the ~30 s\ncold-start overhead the cluster moves from 2 to 3 instances, bringing\nCPU utilisation down from ~71 % to ~56 % and P95 latency from ~148 ms\nto ~118 ms. This action triggers the `digitaloceanAMDNVMeStep` response\nshape, where resources are named \"Droplet s-2vcpu-4gb-amd\" to\ndistinguish AMD NVMe Droplets from standard Intel Droplets.\n","value":{"action":{"type":"scale_out","parameters":{"instanceCount":1}}}}}}}},"responses":{"200":{"description":"Step executed successfully","content":{"application/json":{"schema":{"type":"object","required":["t","obs","metrics","reward","reward_components","done","sim_time_human","info"],"properties":{"t":{"type":"integer","description":"Current simulation time step (incremented after each action)","example":15},"obs":{"$ref":"#/components/schemas/RLObs"},"metrics":{"$ref":"#/components/schemas/RLMetrics"},"resources":{"type":"array","description":"Full resource list with per-resource `recoveryPolicy`. Resources that have never had `set_recovery_policy` applied carry the global defaults (criticalCpuThreshold: 80, criticalSteps: 4, warningCpuThreshold: 70, warningSteps: 3). Use this to confirm a `set_recovery_policy` action took effect or to compare healing configurations across resources.\n","items":{"$ref":"#/components/schemas/Resource"}},"reward":{"type":"number","description":"Scalar total reward for this step (weighted sum of reward_components)","example":0.481},"reward_components":{"type":"object","description":"Individual reward sub-scores before weighting","properties":{"performance":{"type":"number","description":"Performance score (0–1, based on latency and errors)","example":0.812},"cost":{"type":"number","description":"Cost efficiency score (0–1, based on budget)","example":0.924},"stability":{"type":"number","description":"Stability score (−1 to 1, penalizes excessive changes)","example":-0.1},"sla":{"type":"number","description":"SLA compliance score (−1 to 0, penalizes violations)","example":0},"connection_pressure":{"type":"number","description":"DB connection-pool saturation penalty. Only present when the simulation contains database resources. 0 when pool pressure ≤ 1.0 (healthy); decreases with slope −1 per unit of pressure from 1.0 to 1.5 (reaching −0.5), then drops with slope −2 per unit above 1.5 — twice as steep — flooring at −1.0 at pressure ≥ 1.75. Added directly to the weighted sum of the other four components so agents are penalised for driving pools into exhaustion even before latency rises. NOTE: This component is absent until the episode first contains a database resource. When a DB is added mid-episode (via add_resource), the penalty is ramped in linearly over 5 steps (starting at 1/5 of its full magnitude on the first step it appears, reaching full strength after 5 steps) so its introduction does not cause a sudden step-to-step reward discontinuity. Agents may still treat the first appearance as a near-zero baseline.\n","example":-0.3},"unmodeled_cost":{"type":"number","description":"Penalty applied when one or more cost dimensions are active but not modeled in the reward function (e.g. egress charges, cross-AZ traffic). Absent when no unmodeled dimensions are detected. Magnitude equals -(count × unmodeled_cost_penalty_per_dimension). Agents should treat this as a persistent blind-spot signal rather than a transient cost spike.\n","example":-0.2}}},"done":{"type":"boolean","description":"Whether the episode is complete","example":false},"sim_time_human":{"type":"string","description":"Human-readable representation of the elapsed simulated time.\nFormat is `Xh Ym` when at least one hour has elapsed,\n`Xm Ys` when at least one minute (but less than one hour)\nhas elapsed, and `Xs` for less than one minute.\nMirrors the value inside `info.sim_time_human` for convenient\ntop-level access without unpacking the info object.\n","example":"15s"},"info":{"type":"object","description":"Additional diagnostic information","additionalProperties":true,"properties":{"stepMetrics":{"type":"object","description":"Raw metrics from this step"},"eventsGenerated":{"type":"integer","description":"Number of events generated this step"},"currentCost":{"type":"number","description":"Current cost per hour"},"sim_time_human":{"type":"string","description":"Human-readable representation of the elapsed simulated time.\nFormat is `Xh Ym` when at least one hour has elapsed,\n`Xm Ys` when at least one minute (but less than one hour)\nhas elapsed, and `Xs` for less than one minute.\n","example":"1h 0m"},"scale_clamped":{"type":"boolean","description":"Present and `true` when a `scale_out` or `scale_in` action was trimmed to honour the effective per-resource instance bounds (`characteristics.maxInstances` / `characteristics.minInstances` vs `autoscalingConfig.maxInstances` / `autoscalingConfig.minInstances`, whichever is tighter). Absent when no clamping occurred.\n","example":true},"requested":{"type":"integer","description":"Present when `scale_clamped` is `true`. The number of instances the action *requested* to add (scale_out) or remove (scale_in) — i.e. the `instanceCount` action parameter.\n","example":10},"actual":{"type":"integer","description":"Present when `scale_clamped` is `true`. The number of instances that were *actually* added (scale_out) or removed (scale_in) after applying the effective bound. `0` when the action was fully blocked (fleet is already at the hard limit).\n","example":2},"limit":{"type":"integer","description":"Present when `scale_clamped` is `true`. The effective bound that triggered clamping (`effectiveMax` for scale_out or `effectiveMin` for scale_in).\n","example":3}}},"tradeoffSummary":{"$ref":"#/components/schemas/RLTradeoffSummary"},"unmodeled_cost_warning":{"type":"array","items":{"type":"string"},"description":"List of cost dimension identifiers that are active this step but not modeled in the reward function. Present (and non-empty) only when at least one unmodeled dimension is detected. Omitted when all detected dimensions are modeled. Known values: `egress` (network egress charges are incurred whenever traffic > 0), `cross_az_traffic` (cross-AZ data transfer charges apply when resources with different availability zones are connected).\n","example":["egress","cross_az_traffic"]},"unmodeled_cost_penalty":{"type":"number","description":"Total reward penalty applied this step due to unmodeled cost dimensions. Equals -(count of active unmodeled dimensions × episodeConfig.unmodeled_cost_penalty_per_dimension). Present only when `unmodeled_cost_warning` is non-empty.\n","example":-0.2}}},"examples":{"awsStepWithDb":{"summary":"AWS — step response after scale-out (EC2 m5.large + RDS, us-east-1)","description":"The agent scaled out by 1 EC2 instance (now 3 × m5.large). CPU dropped\nfrom 69 % to 53 %, P95 latency is well within the 200 ms SLA, and cost\nrose to $0.57/hr. connection_pressure reflects the RDS Multi-AZ\nconnection-pool ratio; 0.42 is healthy (well below pool exhaustion).\n","value":{"t":42,"obs":{"rps":4750,"cpu_util":0.534,"instances":3,"traffic":4750,"currentTime":42},"metrics":{"cost_usd_hr":0.57,"latency_p95":98,"error_rate":0.003,"uptime":0.997,"sla_violations":0,"connection_pressure":0.42},"reward":0.531,"reward_components":{"performance":0.841,"cost":0.91,"stability":-0.1,"sla":0},"done":false,"sim_time_human":"42s","info":{"stepMetrics":{"cpuUsage":53.4,"throughput":4750},"eventsGenerated":1,"currentCost":0.57,"sim_time_human":"42s"}}},"gcpStepWithDb":{"summary":"GCP — step response after no-op (GCE e2-standard-4 + Cloud SQL, us-central1)","description":"The agent issued a no-op while the cluster ran at 2 × e2-standard-4 GCE\ninstances with Cloud Load Balancing and Cloud SQL. CPU is stable at 48 %,\nP95 latency is 91 ms, and cost is $0.44/hr. connection_pressure reflects\nthe Cloud SQL connection-pool ratio; 0.38 indicates plenty of headroom.\n","value":{"t":30,"obs":{"rps":3820,"cpu_util":0.478,"instances":2,"traffic":3820,"currentTime":30},"metrics":{"cost_usd_hr":0.44,"latency_p95":91,"error_rate":0.002,"uptime":0.998,"sla_violations":0,"connection_pressure":0.38},"reward":0.612,"reward_components":{"performance":0.873,"cost":0.951,"stability":0,"sla":0},"done":false,"sim_time_human":"30s","info":{"stepMetrics":{"cpuUsage":47.8,"throughput":3820},"eventsGenerated":0,"currentCost":0.44,"sim_time_human":"30s"}}},"azureStepWithDb":{"summary":"Azure — step response after no-op (Standard_D4s_v3 + Azure SQL, East US)","description":"The agent issued a no-op while the cluster ran at 2 × Standard_D4s_v3\nVMs behind Azure Load Balancer with Azure SQL. CPU is at 55 %, P95\nlatency is 104 ms, and cost is $0.52/hr. connection_pressure reflects\nthe Azure SQL connection-pool ratio; 0.51 is moderate but healthy.\n","value":{"t":28,"obs":{"rps":4300,"cpu_util":0.551,"instances":2,"traffic":4300,"currentTime":28},"metrics":{"cost_usd_hr":0.52,"latency_p95":104,"error_rate":0.003,"uptime":0.997,"sla_violations":0,"connection_pressure":0.51},"reward":0.487,"reward_components":{"performance":0.796,"cost":0.938,"stability":0,"sla":0},"done":false,"sim_time_human":"28s","info":{"stepMetrics":{"cpuUsage":55.1,"throughput":4300},"eventsGenerated":0,"currentCost":0.52,"sim_time_human":"28s"}}},"ociStepWithDb":{"summary":"OCI — step response after scale-in (VM.Standard3.Flex + Autonomous DB, us-ashburn-1)","description":"The agent scaled in by 1 instance (now 2 × VM.Standard3.Flex) after\ntraffic subsided. CPU is low at 34 %, P95 latency is 72 ms, and cost\nis $0.31/hr. connection_pressure reflects the Autonomous Database\nconnection-pool ratio; 0.29 is well within healthy bounds.\n","value":{"t":25,"obs":{"rps":4820,"cpu_util":0.342,"instances":2,"traffic":4820,"currentTime":25},"metrics":{"cost_usd_hr":0.31,"latency_p95":72,"error_rate":0.001,"uptime":0.999,"sla_violations":0,"connection_pressure":0.29},"reward":0.703,"reward_components":{"performance":0.921,"cost":0.985,"stability":-0.1,"sla":0},"done":false,"sim_time_human":"25s","info":{"stepMetrics":{"cpuUsage":34.2,"throughput":4820},"eventsGenerated":1,"currentCost":0.31,"sim_time_human":"25s"}}},"doStepAfterScaleOut":{"summary":"DO: step response after scaling out to 3 Droplet replicas (with Managed PostgreSQL)","description":"The agent scaled out by 1 Droplet (now 3 × s-2vcpu-4gb). CPU dropped\nfrom 72 % to 58 %, P95 latency improved to 104 ms, and cost rose to\n$1.08/hr (within the $3.50/hr budget). Reward is positive because the\nSLA is satisfied and cost efficiency is high. connection_pressure\nreflects the Managed PostgreSQL connection-pool ratio; 0.44 is healthy.\n","value":{"t":15,"obs":{"rps":1620,"cpu_util":0.582,"instances":3,"traffic":1620,"currentTime":15},"metrics":{"cost_usd_hr":1.08,"latency_p95":104,"error_rate":0.003,"uptime":0.997,"sla_violations":0,"connection_pressure":0.44},"reward":0.481,"reward_components":{"performance":0.812,"cost":0.924,"stability":-0.1,"sla":0},"done":false,"sim_time_human":"15s","info":{"stepMetrics":{"cpuUsage":58.2,"throughput":1620},"eventsGenerated":1,"currentCost":1.08,"sim_time_human":"15s"}}},"doStepThresholdTune":{"summary":"DO: step response after tuning CPU/throughput thresholds","description":"The agent lowered the CPU threshold to 65 % without changing instance\ncount. The cluster runs at 2 Droplets. Metrics are stable; the small\nstability penalty (-0.05) reflects the configuration change itself.\nNo database resource in this scenario — connection_pressure is absent.\n","value":{"t":8,"obs":{"rps":1480,"cpu_util":0.614,"instances":2,"traffic":1480,"currentTime":8},"metrics":{"cost_usd_hr":0.72,"latency_p95":118,"error_rate":0.004,"uptime":0.996,"sla_violations":0},"reward":0.392,"reward_components":{"performance":0.743,"cost":0.96,"stability":-0.05,"sla":0},"done":false,"sim_time_human":"15s","info":{"stepMetrics":{"cpuUsage":61.4,"throughput":1480},"eventsGenerated":0,"currentCost":0.72,"sim_time_human":"15s"}}},"digitaloceanAMDNVMeStep":{"summary":"DigitalOcean — step response after scale-out (s-2vcpu-4gb-amd AMD NVMe Droplets, nyc3)","description":"The agent scaled out by 1 AMD NVMe Droplet (now 3 × s-2vcpu-4gb-amd,\n$0.038/hr per instance). CPU dropped from 71 % to 56 %, P95 latency\nimproved to 98 ms, and cost rose to $0.93/hr (within the $3.50/hr budget).\nThe per-instance compute cost is $0.038/hr, so 3 instances total $0.114/hr\nfor compute alone; `metrics.cost_usd_hr` (0.93) is the full simulated stack\ncost including the DO Load Balancer, Managed PostgreSQL, and modelled\noverhead. The AMD EPYC variant's NVMe-backed local storage yields slightly\nlower P95 latency than the Intel s-2vcpu-4gb equivalent at the same traffic\nlevel — 98 ms vs ~104 ms after scale-out. connection_pressure reflects the\nManaged PostgreSQL db-s-2vcpu-4gb connection-pool ratio; 0.41 is healthy.\nResources are named \"Droplet s-2vcpu-4gb-amd\" to distinguish AMD NVMe\nDroplets from standard Intel Droplets.\n","value":{"t":20,"obs":{"rps":1620,"cpu_util":0.561,"instances":3,"traffic":1620,"currentTime":20},"metrics":{"cost_usd_hr":0.93,"latency_p95":98,"error_rate":0.002,"uptime":0.998,"sla_violations":0,"connection_pressure":0.41},"reward":0.514,"reward_components":{"performance":0.834,"cost":0.918,"stability":-0.1,"sla":0},"done":false,"sim_time_human":"20s","info":{"stepMetrics":{"cpuUsage":56.1,"throughput":1620},"eventsGenerated":1,"currentCost":0.93,"sim_time_human":"20s"}}}}}}},"400":{"$ref":"#/components/responses/BadRequest"},"401":{"$ref":"#/components/responses/Unauthorized"},"402":{"$ref":"#/components/responses/X402PaymentRequired"},"404":{"$ref":"#/components/responses/NotFound"}}}},"/rl/environments/{environmentId}/batch-step":{"x-stability":"stable","post":{"tags":["RL Environments"],"summary":"Execute multiple actions in a single request","description":"Executes up to 30 actions sequentially in a single HTTP round-trip, advancing the\nsimulation by one step per action. Stops early and returns partial results if the\nepisode ends (`done: true`) before all actions are processed.\n\n**Rate limiting:** Each action in the batch counts as one call against the\n5 000 req/hr RL training quota. A batch of 30 actions consumes 30 quota units.\nIf the quota is exhausted mid-batch, the endpoint returns 429 with a `Retry-After`\nheader indicating how many seconds remain until the window resets.\n\n**Idle TTL:** The last successful batch-step call resets the environment's 2-hour\nidle timer, the same as a single `step` call.\n","operationId":"batchStepRLEnvironment","x-codeSamples":[{"lang":"curl","label":"curl","source":"curl -X POST https://your-production-domain.com/api/rl/environments/env-aws-001/batch-step \\\n  -H \"Authorization: Bearer $API_KEY\" \\\n  -H \"Content-Type: application/json\" \\\n  -d '{\n    \"steps\": [\n      {\"action\": {\"type\": \"scale_out\", \"parameters\": {\"instanceCount\": 1}}},\n      {\"action\": {\"type\": \"no_op\",     \"parameters\": {}}},\n      {\"action\": {\"type\": \"no_op\",     \"parameters\": {}}}\n    ]\n  }'\n"},{"lang":"Python","label":"Python","source":"import time, requests\n\nBASE_URL = \"https://your-production-domain.com/api\"\nAPI_KEY = \"your-api-key\"\nENV_ID = \"env-aws-001\"\n\nsession = requests.Session()\nsession.headers.update({\"Authorization\": f\"Bearer {API_KEY}\"})\n\ndef batch_step(steps: list[dict], max_retries: int = 5) -> dict:\n    for attempt in range(max_retries):\n        resp = session.post(\n            f\"{BASE_URL}/rl/environments/{ENV_ID}/batch-step\",\n            json={\"steps\": steps},\n        )\n        if resp.status_code == 429:\n            retry_after = int(resp.headers.get(\"Retry-After\", 60))\n            print(f\"Rate limited — waiting {retry_after}s\")\n            time.sleep(retry_after)\n            continue\n        resp.raise_for_status()\n        return resp.json()\n    raise RuntimeError(\"Exceeded max retries\")\n\nNO_OP = {\"action\": {\"type\": \"no_op\", \"parameters\": {}}}\nSCALE_OUT = {\"action\": {\"type\": \"scale_out\", \"parameters\": {\"instanceCount\": 1}}}\n\nwarmup = batch_step([{**NO_OP, \"tick_seconds\": 300}] * 30)\nprint(f\"Warm-up complete: {len(warmup['results'])} steps\")\n\ntotal_reward = 0.0\nwhile True:\n    result = batch_step([SCALE_OUT] + [NO_OP] * 9)\n    for step_result in result[\"results\"]:\n        total_reward += step_result[\"reward\"]\n        if step_result[\"done\"]:\n            print(f\"Episode complete — total reward: {total_reward:.2f}\")\n            break\n    else:\n        continue\n    break\n"},{"lang":"Node.js","label":"Node.js","source":"const BASE_URL = \"https://your-production-domain.com/api\";\nconst API_KEY = \"your-api-key\";\nconst ENV_ID = \"env-aws-001\";\n\nasync function batchStep(steps, maxRetries = 5) {\n  for (let attempt = 0; attempt < maxRetries; attempt++) {\n    const resp = await fetch(`${BASE_URL}/rl/environments/${ENV_ID}/batch-step`, {\n      method: \"POST\",\n      headers: { \"Authorization\": `Bearer ${API_KEY}`, \"Content-Type\": \"application/json\" },\n      body: JSON.stringify({ steps }),\n    });\n    if (resp.status === 429) {\n      const retryAfter = parseInt(resp.headers.get(\"Retry-After\") ?? \"60\", 10);\n      console.log(`Rate limited — waiting ${retryAfter}s`);\n      await new Promise(r => setTimeout(r, retryAfter * 1000));\n      continue;\n    }\n    if (!resp.ok) throw new Error(`HTTP ${resp.status}`);\n    return resp.json();\n  }\n  throw new Error(\"Exceeded max retries\");\n}\n\nconst NO_OP   = { action: { type: \"no_op\",     parameters: {} } };\nconst SCALE_OUT = { action: { type: \"scale_out\", parameters: { instanceCount: 1 } } };\n\n// 30-step warm-up at 300 s ticks\nconst warmup = await batchStep(Array(30).fill({ ...NO_OP, tick_seconds: 300 }));\nconsole.log(`Warm-up complete: ${warmup.results.length} steps`);\n\n// Training loop using 10-step batches\nlet totalReward = 0;\nlet done = false;\nwhile (!done) {\n  const { results } = await batchStep([SCALE_OUT, ...Array(9).fill(NO_OP)]);\n  for (const r of results) {\n    totalReward += r.reward;\n    if (r.done) { done = true; break; }\n  }\n}\nconsole.log(`Episode complete — total reward: ${totalReward.toFixed(2)}`);\n"}],"security":[],"parameters":[{"name":"environmentId","in":"path","required":true,"schema":{"type":"string","format":"uuid"},"description":"ID of the RL environment"}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","required":["steps"],"properties":{"steps":{"type":"array","minItems":1,"maxItems":30,"description":"Ordered list of step actions to execute (max 30)","items":{"type":"object","required":["action"],"properties":{"action":{"$ref":"#/components/schemas/Action"},"tick_seconds":{"type":"integer","minimum":1,"maximum":3600,"description":"Simulated seconds to advance per step (overrides environment default)"}}}}}},"examples":{"threeStepBatch":{"summary":"Scale out then observe","value":{"steps":[{"action":{"type":"scale_out","parameters":{"instanceCount":1}}},{"action":{"type":"no_op","parameters":{}}},{"action":{"type":"no_op","parameters":{}}}]}},"warmupBatch":{"summary":"30-step warm-up at 300 s ticks","value":{"steps":[{"action":{"type":"no_op","parameters":{}},"tick_seconds":300}]}}}}}},"responses":{"200":{"description":"Batch steps executed successfully","content":{"application/json":{"schema":{"type":"object","required":["results"],"properties":{"results":{"type":"array","description":"Step results in the same order as the request `steps` array.\nMay be shorter than the request array if the episode ended early\n(`done: true` in the last result).\n","items":{"type":"object","required":["t","obs","metrics","reward","reward_components","done","sim_time_human","info"],"properties":{"t":{"type":"integer","description":"Current step index"},"obs":{"$ref":"#/components/schemas/RLObs"},"metrics":{"$ref":"#/components/schemas/RLMetrics"},"resources":{"type":"array","description":"Full resource list with per-resource recoveryPolicy","items":{"$ref":"#/components/schemas/Resource"}},"reward":{"type":"number","description":"Scalar total reward for this step"},"reward_components":{"type":"object","properties":{"performance":{"type":"number"},"cost":{"type":"number"},"stability":{"type":"number"},"sla":{"type":"number"},"connection_pressure":{"type":"number","description":"DB connection-pool saturation penalty. Only present when the simulation contains database resources. 0 when healthy; negative (floor −1.0) when pool is exhausted. When a DB is added mid-episode the penalty is ramped in linearly over 5 steps so it does not cause a sudden reward jump. See step response for full formula.\n"}}},"done":{"type":"boolean","description":"True when the episode has ended"},"sim_time_human":{"type":"string","description":"Human-readable simulation time"},"info":{"type":"object","additionalProperties":true,"description":"Additional episode metadata. When a `scale_out` or `scale_in` action is trimmed to honour per-resource bounds (`characteristics.maxInstances` / `characteristics.minInstances`), the following flat keys are added: `scale_clamped` (boolean, always `true`), `requested` (integer — instances requested), `actual` (integer — instances applied, `0` if fully blocked), `limit` (integer — effective bound). Absent when no clamping occurred.\n"}}}}}},"examples":{"threeStepResult":{"summary":"Three-step batch — scale out then two no-ops","value":{"results":[{"t":1,"obs":{"rps":4900,"cpu_util":0.58,"instances":3,"traffic":4900,"currentTime":60,"tick_seconds":60},"metrics":{"cost_usd_hr":0.41,"latency_p95":112,"error_rate":0.004,"uptime":0.996,"sla_violations":0},"reward":0.734,"reward_components":{"performance":0.812,"cost":0.901,"stability":0,"sla":0},"done":false,"sim_time_human":"1m 0s","info":{"sim_time_human":"1m 0s"},"resources":[]},{"t":2,"obs":{"rps":5100,"cpu_util":0.44,"instances":3,"traffic":5100,"currentTime":120,"tick_seconds":60},"metrics":{"cost_usd_hr":0.41,"latency_p95":89,"error_rate":0.001,"uptime":0.999,"sla_violations":0},"reward":0.819,"reward_components":{"performance":0.889,"cost":0.901,"stability":0,"sla":0},"done":false,"sim_time_human":"2m 0s","info":{"sim_time_human":"2m 0s"},"resources":[]}]}},"awsBatchWithDb":{"summary":"AWS — batch-step (EC2 m5.large + RDS Multi-AZ, us-east-1)","description":"Two-step batch: scale out by 1 EC2 instance, then observe with a\nno-op. Each step's metrics include connection_pressure, which\nreflects the RDS Multi-AZ connection-pool ratio; values near 0.4\nare healthy (well below pool exhaustion).\n","value":{"results":[{"t":1,"obs":{"rps":4750,"cpu_util":0.61,"instances":3,"traffic":4750,"currentTime":60,"tick_seconds":60},"metrics":{"cost_usd_hr":0.57,"latency_p95":108,"error_rate":0.004,"uptime":0.996,"sla_violations":0,"connection_pressure":0.45},"reward":0.531,"reward_components":{"performance":0.812,"cost":0.901,"stability":-0.1,"sla":0},"done":false,"sim_time_human":"1m 0s","info":{"sim_time_human":"1m 0s"},"resources":[]},{"t":2,"obs":{"rps":4820,"cpu_util":0.53,"instances":3,"traffic":4820,"currentTime":120,"tick_seconds":60},"metrics":{"cost_usd_hr":0.57,"latency_p95":98,"error_rate":0.003,"uptime":0.997,"sla_violations":0,"connection_pressure":0.42},"reward":0.612,"reward_components":{"performance":0.841,"cost":0.91,"stability":0,"sla":0},"done":false,"sim_time_human":"2m 0s","info":{"sim_time_human":"2m 0s"},"resources":[]}]}},"gcpBatchWithDb":{"summary":"GCP — batch-step (GCE e2-standard-4 + Cloud SQL, us-central1)","description":"Two-step batch of no-ops while the cluster runs at 2 × e2-standard-4\nwith Cloud Load Balancing and Cloud SQL. Each step's metrics include\nconnection_pressure, which reflects the Cloud SQL connection-pool\nratio; 0.38 indicates plenty of headroom.\n","value":{"results":[{"t":1,"obs":{"rps":3820,"cpu_util":0.48,"instances":2,"traffic":3820,"currentTime":60,"tick_seconds":60},"metrics":{"cost_usd_hr":0.44,"latency_p95":91,"error_rate":0.002,"uptime":0.998,"sla_violations":0,"connection_pressure":0.38},"reward":0.612,"reward_components":{"performance":0.873,"cost":0.951,"stability":0,"sla":0},"done":false,"sim_time_human":"1m 0s","info":{"sim_time_human":"1m 0s"},"resources":[]},{"t":2,"obs":{"rps":3760,"cpu_util":0.46,"instances":2,"traffic":3760,"currentTime":120,"tick_seconds":60},"metrics":{"cost_usd_hr":0.44,"latency_p95":88,"error_rate":0.002,"uptime":0.998,"sla_violations":0,"connection_pressure":0.36},"reward":0.628,"reward_components":{"performance":0.884,"cost":0.951,"stability":0,"sla":0},"done":false,"sim_time_human":"2m 0s","info":{"sim_time_human":"2m 0s"},"resources":[]}]}},"azureBatchWithDb":{"summary":"Azure — batch-step (Standard_D4s_v3 + Azure SQL, East US)","description":"Two-step batch of no-ops while the cluster runs at 2 × Standard_D4s_v3\nVMs behind Azure Load Balancer with Azure SQL. Each step's metrics\ninclude connection_pressure, which reflects the Azure SQL\nconnection-pool ratio; 0.51 is moderate but healthy.\n","value":{"results":[{"t":1,"obs":{"rps":4300,"cpu_util":0.55,"instances":2,"traffic":4300,"currentTime":60,"tick_seconds":60},"metrics":{"cost_usd_hr":0.52,"latency_p95":104,"error_rate":0.003,"uptime":0.997,"sla_violations":0,"connection_pressure":0.51},"reward":0.487,"reward_components":{"performance":0.796,"cost":0.938,"stability":0,"sla":0},"done":false,"sim_time_human":"1m 0s","info":{"sim_time_human":"1m 0s"},"resources":[]},{"t":2,"obs":{"rps":4360,"cpu_util":0.56,"instances":2,"traffic":4360,"currentTime":120,"tick_seconds":60},"metrics":{"cost_usd_hr":0.52,"latency_p95":106,"error_rate":0.003,"uptime":0.997,"sla_violations":0,"connection_pressure":0.49},"reward":0.482,"reward_components":{"performance":0.79,"cost":0.938,"stability":0,"sla":0},"done":false,"sim_time_human":"2m 0s","info":{"sim_time_human":"2m 0s"},"resources":[]}]}},"ociBatchWithDb":{"summary":"OCI — batch-step (VM.Standard3.Flex + Autonomous DB, us-ashburn-1)","description":"Two-step batch: scale in by 1 instance, then observe with a no-op\n(now 2 × VM.Standard3.Flex). Each step's metrics include\nconnection_pressure, which reflects the Autonomous Database\nconnection-pool ratio; 0.29 is well within healthy bounds.\n","value":{"results":[{"t":1,"obs":{"rps":4820,"cpu_util":0.34,"instances":2,"traffic":4820,"currentTime":60,"tick_seconds":60},"metrics":{"cost_usd_hr":0.31,"latency_p95":72,"error_rate":0.001,"uptime":0.999,"sla_violations":0,"connection_pressure":0.31},"reward":0.703,"reward_components":{"performance":0.921,"cost":0.985,"stability":-0.1,"sla":0},"done":false,"sim_time_human":"1m 0s","info":{"sim_time_human":"1m 0s"},"resources":[]},{"t":2,"obs":{"rps":4780,"cpu_util":0.33,"instances":2,"traffic":4780,"currentTime":120,"tick_seconds":60},"metrics":{"cost_usd_hr":0.31,"latency_p95":70,"error_rate":0.001,"uptime":0.999,"sla_violations":0,"connection_pressure":0.29},"reward":0.812,"reward_components":{"performance":0.934,"cost":0.985,"stability":0,"sla":0},"done":false,"sim_time_human":"2m 0s","info":{"sim_time_human":"2m 0s"},"resources":[]}]}},"doBatchWithDb":{"summary":"DO — batch-step (Droplet s-2vcpu-4gb + Managed PostgreSQL)","description":"Two-step batch: scale out by 1 Droplet, then observe with a no-op\n(now 3 × s-2vcpu-4gb). Each step's metrics include\nconnection_pressure, which reflects the Managed PostgreSQL\nconnection-pool ratio; 0.44 is healthy.\n","value":{"results":[{"t":1,"obs":{"rps":1620,"cpu_util":0.58,"instances":3,"traffic":1620,"currentTime":60,"tick_seconds":60},"metrics":{"cost_usd_hr":1.08,"latency_p95":104,"error_rate":0.003,"uptime":0.997,"sla_violations":0,"connection_pressure":0.46},"reward":0.481,"reward_components":{"performance":0.812,"cost":0.924,"stability":-0.1,"sla":0},"done":false,"sim_time_human":"1m 0s","info":{"sim_time_human":"1m 0s"},"resources":[]},{"t":2,"obs":{"rps":1580,"cpu_util":0.55,"instances":3,"traffic":1580,"currentTime":120,"tick_seconds":60},"metrics":{"cost_usd_hr":1.08,"latency_p95":99,"error_rate":0.002,"uptime":0.998,"sla_violations":0,"connection_pressure":0.44},"reward":0.503,"reward_components":{"performance":0.831,"cost":0.924,"stability":0,"sla":0},"done":false,"sim_time_human":"2m 0s","info":{"sim_time_human":"2m 0s"},"resources":[]}]}},"digitaloceanAMDNVMeBatchStep":{"summary":"DO AMD NVMe — batch-step (s-2vcpu-4gb-amd Droplets + Managed PostgreSQL, nyc3)","description":"Two-step batch on a DigitalOcean simulation backed by AMD NVMe Droplets\n(s-2vcpu-4gb-amd, $0.038/hr per instance). Step 1 scales out by 1 Droplet\n(now 3 × s-2vcpu-4gb-amd), bringing CPU down from 71 % to 56 %. The\nper-instance compute cost is $0.038/hr, so 3 instances total $0.114/hr for\ncompute alone; `metrics.cost_usd_hr` (0.93) is the full simulated stack\ncost including the DO Load Balancer, Managed PostgreSQL, and modelled\noverhead. Step 2 is a no-op that confirms the cluster has stabilised. The\nAMD EPYC variant's NVMe-backed local storage yields slightly lower P95\nlatency than the Intel s-2vcpu-4gb equivalent at the same traffic level —\n98 ms vs ~104 ms after scale-out. connection_pressure reflects the Managed\nPostgreSQL db-s-2vcpu-4gb connection-pool ratio; 0.41 is healthy. Resources\nare named \"Droplet s-2vcpu-4gb-amd\" to distinguish AMD NVMe Droplets from\nstandard Intel Droplets.\n","value":{"results":[{"t":1,"obs":{"rps":1620,"cpu_util":0.561,"instances":3,"traffic":1620,"currentTime":60,"tick_seconds":60},"metrics":{"cost_usd_hr":0.93,"latency_p95":98,"error_rate":0.002,"uptime":0.998,"sla_violations":0,"connection_pressure":0.41},"reward":0.514,"reward_components":{"performance":0.834,"cost":0.918,"stability":-0.1,"sla":0},"done":false,"sim_time_human":"1m 0s","info":{"sim_time_human":"1m 0s"},"resources":[{"id":"res-lb-amd-001","name":"DO Load Balancer","type":"network","provider":"digitalocean","instances":1},{"id":"res-droplet-amd-001","name":"Droplet s-2vcpu-4gb-amd","type":"compute","provider":"digitalocean","instances":3},{"id":"res-pg-amd-001","name":"Managed PostgreSQL","type":"database","provider":"digitalocean","instances":1}]},{"t":2,"obs":{"rps":1580,"cpu_util":0.541,"instances":3,"traffic":1580,"currentTime":120,"tick_seconds":60},"metrics":{"cost_usd_hr":0.93,"latency_p95":94,"error_rate":0.002,"uptime":0.998,"sla_violations":0,"connection_pressure":0.4},"reward":0.531,"reward_components":{"performance":0.848,"cost":0.918,"stability":0,"sla":0},"done":false,"sim_time_human":"2m 0s","info":{"sim_time_human":"2m 0s"},"resources":[{"id":"res-lb-amd-001","name":"DO Load Balancer","type":"network","provider":"digitalocean","instances":1},{"id":"res-droplet-amd-001","name":"Droplet s-2vcpu-4gb-amd","type":"compute","provider":"digitalocean","instances":3},{"id":"res-pg-amd-001","name":"Managed PostgreSQL","type":"database","provider":"digitalocean","instances":1}]}]}}}}}},"400":{"$ref":"#/components/responses/BadRequest"},"404":{"$ref":"#/components/responses/NotFound"},"429":{"description":"RL rate limit exceeded (5 000 req/hr)","headers":{"Retry-After":{"description":"Seconds until the rate-limit window resets","schema":{"type":"integer"}}},"content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}}}}},"/rl/environments/{environmentId}/eval-episodes":{"x-stability":"stable","post":{"tags":["RL Environments"],"summary":"Submit an eval-episode job (async by default; ?sync=true for inline)","description":"Replays one or more ordered action sequences through a fresh episode reset and returns\nper-episode cumulative rewards computed with `evalCostOverrides` applied. Use this to\ndetect **reward blind spots**: policies trained without egress or cross-AZ cost pricing\nwill show a significant reward drop (reward_collapse) when those dimensions are priced.\n\nThe endpoint does **not** mutate any stored environment or simulation state — all\nepisode rollouts are in-memory and ephemeral.\n\n**Async mode (default):** Returns `202 Accepted` immediately with a `jobId`. Poll\n`GET /rl/environments/{environmentId}/eval-episodes/{jobId}` until `status` is\n`completed` or `failed`.\n\n**Sync mode (`?sync=true`):** Runs the rollout in-process and returns the full result\ninline with `200 OK`. Suitable for small workloads (≤ 3 episodes, ≤ 20 steps each).\n\n**reward_collapse logic:** `reward_collapse` is `true` when\n`meanEvalReward < trainingTotalReward − collapseThreshold × |trainingTotalReward|`.\nWith the default threshold of 0.20, any policy whose eval reward is more than 20 %\nbelow its training reward is flagged as collapsing.\n","operationId":"evalRLEpisodes","x-codeSamples":[{"lang":"curl","label":"curl","source":"curl -X POST https://your-production-domain.com/api/rl/environments/env-aws-001/eval-episodes \\\n  -H \"Authorization: Bearer $API_KEY\" \\\n  -H \"Content-Type: application/json\" \\\n  -d '{\n    \"actions\": [\n      [\n        {\"type\": \"no_op\", \"parameters\": {}},\n        {\"type\": \"scale_out\", \"parameters\": {\"instanceCount\": 1}},\n        {\"type\": \"no_op\", \"parameters\": {}}\n      ]\n    ],\n    \"evalCostOverrides\": {\"egress\": 0.5, \"cross_az_traffic\": 0.3},\n    \"collapseThreshold\": 0.20\n  }'\n"},{"lang":"Python","label":"Python","source":"import requests\n\nBASE_URL = \"https://your-production-domain.com/api\"\nAPI_KEY = \"your-api-key\"\nENV_ID = \"env-aws-001\"\n\nresp = requests.post(\n    f\"{BASE_URL}/rl/environments/{ENV_ID}/eval-episodes\",\n    headers={\"Authorization\": f\"Bearer {API_KEY}\"},\n    json={\n        \"actions\": [\n            [{\"type\": \"no_op\", \"parameters\": {}}] * 10\n        ],\n        \"evalCostOverrides\": {\"egress\": 0.5, \"cross_az_traffic\": 0.3},\n        \"collapseThreshold\": 0.20,\n    },\n)\nresp.raise_for_status()\ndata = resp.json()\nprint(f\"reward_collapse={data['reward_collapse']}  mean_eval={data['meanEvalReward']:.3f}  training={data['trainingTotalReward']:.3f}\")\n"}],"security":[],"parameters":[{"name":"environmentId","in":"path","required":true,"schema":{"type":"string","format":"uuid"},"description":"ID of the RL environment whose training reward is used as the baseline"},{"name":"sync","in":"query","required":false,"schema":{"type":"boolean","default":false},"description":"When `true`, run the eval synchronously and return the full result inline with `200 OK`. When omitted or `false` (default), create a background job and return `202 Accepted` with a `jobId`.\n"}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","required":["actions"],"properties":{"actions":{"type":"array","minItems":1,"maxItems":10,"description":"Array of episodes. Each episode is an ordered array of actions to replay from a fresh reset. All episodes use the same `evalCostOverrides`. Maximum 10 episodes.\n","items":{"type":"array","description":"Ordered sequence of actions for one eval episode","items":{"$ref":"#/components/schemas/Action"}}},"collapseThreshold":{"type":"number","minimum":0,"maximum":1,"default":0.2,"description":"Fractional drop in reward that triggers `reward_collapse`. Default is 0.20 (collapse when mean eval reward is more than 20 % below training total reward).\n"},"evalCostOverrides":{"type":"object","additionalProperties":{"type":"number","minimum":0},"description":"Per-dimension cost override rates in USD per 1 000 RPS per hour. Supported keys: `egress` (any simulation with traffic > 0) and `cross_az_traffic` (simulations with resources in distinct Availability Zones). These rates inflate `costPerHour` before the reward cost score is computed, revealing policies that exploit unpriced cost blind spots.\n","example":{"egress":0.5,"cross_az_traffic":0.3}}}},"examples":{"basicEval":{"summary":"Single eval episode with egress and cross-AZ costs priced","value":{"actions":[[{"type":"no_op","parameters":{}},{"type":"scale_out","parameters":{"instanceCount":1}},{"type":"no_op","parameters":{}}]],"evalCostOverrides":{"egress":0.5,"cross_az_traffic":0.3},"collapseThreshold":0.2}}}}}},"responses":{"200":{"description":"Eval episodes completed synchronously (only returned when `?sync=true` is set).\n","content":{"application/json":{"schema":{"$ref":"#/components/schemas/RLEvalJobResult"},"examples":{"collapseDetected":{"summary":"Reward collapse detected — policy exploits egress blind spot","value":{"episodes":[{"episodeIndex":0,"stepsExecuted":3,"totalReward":1.82}],"meanEvalReward":1.82,"trainingTotalReward":4.5,"collapseThreshold":0.2,"reward_collapse":true}},"noCollapse":{"summary":"No collapse — policy is robust to unpriced cost dimensions","value":{"episodes":[{"episodeIndex":0,"stepsExecuted":3,"totalReward":4.21}],"meanEvalReward":4.21,"trainingTotalReward":4.5,"collapseThreshold":0.2,"reward_collapse":false}}}}}},"202":{"description":"Eval job accepted. The job is running asynchronously. Poll `GET /rl/environments/{environmentId}/eval-episodes/{jobId}` until `status` is `completed` or `failed`.\n","content":{"application/json":{"schema":{"$ref":"#/components/schemas/RLEvalJobAccepted"},"example":{"jobId":"3fa85f64-5717-4562-b3fc-2c963f66afa6","status":"pending","createdAt":"2026-01-01T00:00:00.000Z"}}}},"400":{"$ref":"#/components/responses/BadRequest"},"401":{"$ref":"#/components/responses/ApiKeyUnauthorized"},"403":{"description":"Access denied — caller does not own this RL environment","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}
[...]
